# Preparing Denver Weather Dataset

In [278]:
import os.path
import datetime
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [279]:
if not os.path.exists( "../../data/raw/temperature.csv" ):
    print("Missing dataset file")

In [280]:
temp = pd.read_csv( "../../data/raw/temperature.csv", index_col="datetime", parse_dates=True)

In [281]:
temp.head()

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
datetime,,,,,,,,,,,,,,,,,,,,,
2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,309.100000,NaN,NaN,NaN
2012-10-01 13:00:00,284.630000,282.080000,289.480000,281.800000,291.870000,291.530000,293.410000,296.600000,285.120000,284.610000,...,285.630000,288.220000,285.830000,287.170000,307.590000,305.470000,310.580000,304.4,304.4,303.5
2012-10-01 14:00:00,284.629041,282.083252,289.474993,281.797217,291.868186,291.533501,293.403141,296.608509,285.154558,284.607306,...,285.663208,288.247676,285.834650,287.186092,307.590000,304.310000,310.495769,304.4,304.4,303.5
2012-10-01 15:00:00,284.626998,282.091866,289.460618,281.789833,291.862844,291.543355,293.392177,296.631487,285.233952,284.599918,...,285.756824,288.326940,285.847790,287.231672,307.391513,304.281841,310.411538,304.4,304.4,303.5
2012-10-01 16:00:00,284.624955,282.100481,289.446243,281.782449,291.857503,291.553209,293.381213,296.654466,285.313345,284.592530,...,285.850440,288.406203,285.860929,287.277251,307.145200,304.238015,310.327308,304.4,304.4,303.5

In [282]:
den1 = temp.filter(items=['Denver'])

In [283]:
den1.head()

                         Denver
datetime
2012-10-01 12:00:00         NaN
2012-10-01 13:00:00  284.610000
2012-10-01 14:00:00  284.607306
2012-10-01 15:00:00  284.599918
2012-10-01 16:00:00  284.592530

In [284]:
den1 = den1.rename(columns={'Denver': 'Temperature'})

In [285]:
den1.head()

                     Temperature
datetime
2012-10-01 12:00:00          NaN
2012-10-01 13:00:00   284.610000
2012-10-01 14:00:00   284.607306
2012-10-01 15:00:00   284.599918
2012-10-01 16:00:00   284.592530

In [286]:
if not os.path.exists( "../../data/raw/wind_speed.csv" ):
    print("Missing dataset file")

In [287]:
temp1 = pd.read_csv( "../../data/raw/wind_speed.csv", index_col="datetime", parse_dates=True)

In [288]:
temp1.head()

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
datetime,,,,,,,,,,,,,,,,,,,,,
2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN
2012-10-01 13:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,4.0,...,4.0,7.0,4.0,3.0,1.0,0.0,8.0,2.0,2.0,2.0
2012-10-01 14:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,4.0,...,4.0,7.0,4.0,3.0,3.0,0.0,8.0,2.0,2.0,2.0
2012-10-01 15:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,3.0,...,3.0,7.0,4.0,3.0,3.0,0.0,8.0,2.0,2.0,2.0
2012-10-01 16:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,3.0,...,3.0,7.0,4.0,3.0,3.0,0.0,8.0,2.0,2.0,2.0

In [289]:
den2 = temp1.filter(items=['Denver'])

In [290]:
den2.head()

                     Denver
datetime
2012-10-01 12:00:00     NaN
2012-10-01 13:00:00     4.0
2012-10-01 14:00:00     4.0
2012-10-01 15:00:00     3.0
2012-10-01 16:00:00     3.0

In [291]:
den2 = den2.rename(columns={'Denver': 'Wind Speed'})

In [292]:
den2.head()

                     Wind Speed
datetime
2012-10-01 12:00:00         NaN
2012-10-01 13:00:00         4.0
2012-10-01 14:00:00         4.0
2012-10-01 15:00:00         3.0
2012-10-01 16:00:00         3.0

In [293]:
if not os.path.exists( "../../data/raw/weather_description.csv" ):
    print("Missing dataset file")

In [294]:
temp2 = pd.read_csv( "../../data/raw/weather_description.csv", index_col="datetime", parse_dates=True)

In [295]:
temp2.head()

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
datetime,,,,,,,,,,,,,,,,,,,,,
2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,haze,NaN,NaN,NaN
2012-10-01 13:00:00,mist,scattered clouds,light rain,sky is clear,mist,sky is clear,sky is clear,sky is clear,sky is clear,light rain,...,broken clouds,few clouds,overcast clouds,sky is clear,sky is clear,sky is clear,haze,sky is clear,sky is clear,sky is clear
2012-10-01 14:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,broken clouds,...,broken clouds,few clouds,sky is clear,few clouds,sky is clear,sky is clear,broken clouds,overcast clouds,sky is clear,overcast clouds
2012-10-01 15:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,broken clouds,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
2012-10-01 16:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,broken clouds,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds

In [296]:
den3 = temp2.filter(items=['Denver'])

In [297]:
den3.head()

                            Denver
datetime
2012-10-01 12:00:00            NaN
2012-10-01 13:00:00     light rain
2012-10-01 14:00:00  broken clouds
2012-10-01 15:00:00  broken clouds
2012-10-01 16:00:00  broken clouds

In [298]:
den3 = den3.rename(columns={'Denver': 'Description'})

In [299]:
den3.head()

                       Description
datetime
2012-10-01 12:00:00            NaN
2012-10-01 13:00:00     light rain
2012-10-01 14:00:00  broken clouds
2012-10-01 15:00:00  broken clouds
2012-10-01 16:00:00  broken clouds

In [300]:
frames = [den1, den2, den3]
df = pd.concat(frames, axis = 1)

In [301]:
df.head()

                     Temperature  Wind Speed    Description
datetime
2012-10-01 12:00:00          NaN         NaN            NaN
2012-10-01 13:00:00   284.610000         4.0     light rain
2012-10-01 14:00:00   284.607306         4.0  broken clouds
2012-10-01 15:00:00   284.599918         3.0  broken clouds
2012-10-01 16:00:00   284.592530         3.0  broken clouds

In [302]:
df.isnull().sum()

Temperature    1
Wind Speed     2
Description    1
dtype: int64

In [303]:
print(df[df["Description"].isnull()])

                     Temperature  Wind Speed Description
datetime
2012-10-01 12:00:00          NaN         NaN         NaN

In [304]:
df = df.dropna(subset = ['Description'])

In [305]:
print(df[df["Temperature"].isnull()])

Empty DataFrame
Columns: [Temperature, Wind Speed, Description]
Index: []

In [306]:
testdate = df.loc['2013-03-11':'2013-03-11']

In [307]:
testdate

                     Temperature  Wind Speed       Description
datetime
2013-03-11 00:00:00     271.6900         3.0               fog
2013-03-11 01:00:00     271.5750         3.0     broken clouds
2013-03-11 02:00:00     271.4600         3.0     broken clouds
2013-03-11 03:00:00     270.7200         7.0     broken clouds
2013-03-11 04:00:00     269.8200         7.0  scattered clouds
2013-03-11 05:00:00     269.6100         9.0        few clouds
2013-03-11 06:00:00     269.1100         2.0  scattered clouds
2013-03-11 07:00:00     267.9780         3.0  scattered clouds
2013-03-11 08:00:00     266.8460         3.0        few clouds
2013-03-11 09:00:00     267.1800         2.0  scattered clouds
2013-03-11 10:00:00     266.2300         2.0      sky is clear
2013-03-11 11:00:00     266.1600         2.0      sky is clear
2013-03-11 12:00:00     265.4500         1.0      sky is clear
2013-03-11 13:00:00     265.3850         1.0      sky is clear
2013-03-11 14:00:00     265.3200         2.0        few clouds
2013-03-11 15:00:00     267.5600         2.0        few clouds
2013-03-11 16:00:00     272.7105         3.0      sky is clear
2013-03-11 17:00:00     272.6900         2.0        few clouds
2013-03-11 18:00:00     274.0650         2.0      sky is clear
2013-03-11 19:00:00     275.4400         1.0      sky is clear
2013-03-11 20:00:00     276.4500         6.0        few clouds
2013-03-11 21:00:00     276.8500         2.0  scattered clouds
2013-03-11 22:00:00     278.2010         4.0        few clouds
2013-03-11 23:00:00     275.7900         2.0  scattered clouds

Find the average between 280.690 and 278.850. This is equal to 279.770.

In [308]:
df['Temperature'] = df['Temperature'].fillna(279.770)

In [309]:
print(df[df["Temperature"].isnull()])

Empty DataFrame
Columns: [Temperature, Wind Speed, Description]
Index: []

We want to convert the temperature to degrees Celcius from kelvin. The formula to do this is T(Â°C)=T(K)-273.15, Therefore, we create a new column called 'Celcius' and use this formula.

In [310]:
df["Celcius"] = df["Temperature"] - 273.15

In [311]:
df.head()

                     Temperature  Wind Speed    Description    Celcius
datetime
2012-10-01 13:00:00   284.610000         4.0     light rain  11.460000
2012-10-01 14:00:00   284.607306         4.0  broken clouds  11.457306
2012-10-01 15:00:00   284.599918         3.0  broken clouds  11.449918
2012-10-01 16:00:00   284.592530         3.0  broken clouds  11.442530
2012-10-01 17:00:00   284.585142         3.0  broken clouds  11.435142

In [312]:
df = df.drop(df.columns[[0]], axis=1)

### Weather Grading System

In [313]:
denWea = df

In [314]:
denWea.head()

                     Wind Speed    Description    Celcius
datetime
2012-10-01 13:00:00         4.0     light rain  11.460000
2012-10-01 14:00:00         4.0  broken clouds  11.457306
2012-10-01 15:00:00         3.0  broken clouds  11.449918
2012-10-01 16:00:00         3.0  broken clouds  11.442530
2012-10-01 17:00:00         3.0  broken clouds  11.435142

In [315]:
pt = denWea.groupby('Description')[('Celcius')].count()
pt.sort_values(ascending = False)

Description
sky is clear                        16588
scattered clouds                     6273
broken clouds                        6008
few clouds                           4439
light rain                           3391
overcast clouds                      2046
mist                                 1565
light snow                            984
moderate rain                         961
haze                                  711
snow                                  426
fog                                   327
heavy intensity rain                  256
thunderstorm                          233
smoke                                 188
proximity thunderstorm                183
proximity shower rain                 144
light intensity drizzle               133
thunderstorm with light rain          105
heavy snow                            102
drizzle                                66
very heavy rain                        34
thunderstorm with rain                 31
dust                                   20
squalls                                 7
heavy intensity drizzle                 7
proximity thunderstorm with rain        7
thunderstorm with heavy rain            6
thunderstorm with light drizzle         3
light rain and snow                     3
shower rain                             2
light intensity shower rain             1
thunderstorm with heavy drizzle         1
ragged thunderstorm                     1
Name: Celcius, dtype: int64

In [316]:
conditions = [
    (denWea['Description'] == 'sky is clear') | (denWea['Description'] == 'few clouds') | (denWea['Description'] == 'scattered clouds'),
    (denWea['Description'] == 'overcast clouds') | (denWea['Description'] == 'broken clouds')  | (denWea['Description'] == 'fog') | (denWea['Description'] == 'haze')]
choices = ['3', '2']
denWea['DescRate'] = np.select(conditions, choices, default='0')
print(denWea)

                     Wind Speed            Description    Celcius DescRate
datetime
2012-10-01 13:00:00         4.0             light rain  11.460000        0
2012-10-01 14:00:00         4.0          broken clouds  11.457306        2
2012-10-01 15:00:00         3.0          broken clouds  11.449918        2
2012-10-01 16:00:00         3.0          broken clouds  11.442530        2
2012-10-01 17:00:00         3.0          broken clouds  11.435142        2
2012-10-01 18:00:00         3.0          broken clouds  11.427755        2
2012-10-01 19:00:00         3.0          broken clouds  11.420367        2
2012-10-01 20:00:00         3.0          broken clouds  11.412979        2
2012-10-01 21:00:00         3.0          broken clouds  11.405591        2
2012-10-01 22:00:00         3.0          broken clouds  11.398204        2
2012-10-01 23:00:00         3.0          broken clouds  11.390816        2
2012-10-02 00:00:00         3.0          broken clouds  11.383428        2
2012-10-02 01:00:00         3.0          broken clouds  11.376040        2
2012-10-02 02:00:00         3.0          broken clouds  11.368653        2
2012-10-02 03:00:00         3.0          broken clouds  11.361265        2
2012-10-02 04:00:00         2.0          broken clouds  11.353877        2
2012-10-02 05:00:00         2.0          broken clouds  11.346490        2
2012-10-02 06:00:00         2.0          broken clouds  11.339102        2
2012-10-02 07:00:00         2.0          broken clouds  11.331714        2
2012-10-02 08:00:00         2.0          broken clouds  11.324326        2
2012-10-02 09:00:00         2.0          broken clouds  11.316939        2
2012-10-02 10:00:00         2.0          broken clouds  11.309551        2
2012-10-02 11:00:00         2.0          broken clouds  11.302163        2
2012-10-02 12:00:00         2.0          broken clouds  11.294775        2
2012-10-02 13:00:00         2.0          broken clouds  11.287388        2
2012-10-02 14:00:00         2.0             light rain  11.280000        0
2012-10-02 15:00:00         2.0  proximity shower rain  12.160000        0
2012-10-02 16:00:00         0.0           sky is clear  13.300000        3
2012-10-02 17:00:00         0.0           sky is clear  14.690000        3
2012-10-02 18:00:00         4.0       scattered clouds  16.030000        3
...                         ...                    ...        ...      ...
2017-11-28 19:00:00         3.0                   haze   4.870000        2
2017-11-28 20:00:00         2.0           sky is clear   5.400000        3
2017-11-28 21:00:00         1.0       scattered clouds   6.490000        3
2017-11-28 22:00:00         3.0           sky is clear   7.000000        3
2017-11-28 23:00:00         3.0           sky is clear   3.930000        3
2017-11-29 00:00:00         1.0                   haze   5.890000        2
2017-11-29 01:00:00         1.0           sky is clear   3.110000        3
2017-11-29 02:00:00         2.0           sky is clear   1.110000        3
2017-11-29 03:00:00         2.0           sky is clear   0.560000        3
2017-11-29 04:00:00         1.0           sky is clear   0.450000        3
2017-11-29 05:00:00         1.0           sky is clear   0.440000        3
2017-11-29 06:00:00         2.0           sky is clear   0.100000        3
2017-11-29 07:00:00         2.0           sky is clear  -0.090000        3
2017-11-29 08:00:00         1.0                   mist  -0.280000        0
2017-11-29 09:00:00         1.0           sky is clear  -0.390000        3
2017-11-29 10:00:00         1.0           sky is clear  -1.190000        3
2017-11-29 11:00:00         2.0           sky is clear  -1.590000        3
2017-11-29 12:00:00         2.0           sky is clear  -1.590000        3
2017-11-29 13:00:00         2.0           sky is clear  -1.090000        3
2017-11-29 14:00:00         7.0          broken clouds   0.220000        2
2017-11-29 15:00:00         2.0          broken clouds   0.620000        2
2017-11-29 16:00:00         2.0           sky is clear   1.920000        3
2017-11-29 17:00:00         1.0           sky is clear   3.610000        3
2017-11-29 18:00:00         3.0           sky is clear  10.010000        3
2017-11-29 19:00:00         4.0           sky is clear  13.570000        3
2017-11-29 20:00:00         3.0          broken clouds  16.410000        2
2017-11-29 21:00:00         6.0           sky is clear  17.550000        3
2017-11-29 22:00:00         3.0           sky is clear  16.560000        3
2017-11-29 23:00:00         1.0                   haze  16.020000        2
2017-11-30 00:00:00         3.0           sky is clear  12.030000        3

[45252 rows x 4 columns]

In [317]:
denWea['Celcius'].mean()

9.68940661226923

In [318]:
conditions = [
    (denWea['Celcius'] <= 9),
    (denWea['Celcius'] >= 19)]
choices = ['0', '3']
denWea['TempRate'] = np.select(conditions, choices, default='2')
print(denWea)

                     Wind Speed            Description    Celcius DescRate  \
datetime
2012-10-01 13:00:00         4.0             light rain  11.460000        0
2012-10-01 14:00:00         4.0          broken clouds  11.457306        2
2012-10-01 15:00:00         3.0          broken clouds  11.449918        2
2012-10-01 16:00:00         3.0          broken clouds  11.442530        2
2012-10-01 17:00:00         3.0          broken clouds  11.435142        2
2012-10-01 18:00:00         3.0          broken clouds  11.427755        2
2012-10-01 19:00:00         3.0          broken clouds  11.420367        2
2012-10-01 20:00:00         3.0          broken clouds  11.412979        2
2012-10-01 21:00:00         3.0          broken clouds  11.405591        2
2012-10-01 22:00:00         3.0          broken clouds  11.398204        2
2012-10-01 23:00:00         3.0          broken clouds  11.390816        2
2012-10-02 00:00:00         3.0          broken clouds  11.383428        2
2012-10-02 01:00:00         3.0          broken clouds  11.376040        2
2012-10-02 02:00:00         3.0          broken clouds  11.368653        2
2012-10-02 03:00:00         3.0          broken clouds  11.361265        2
2012-10-02 04:00:00         2.0          broken clouds  11.353877        2
2012-10-02 05:00:00         2.0          broken clouds  11.346490        2
2012-10-02 06:00:00         2.0          broken clouds  11.339102        2
2012-10-02 07:00:00         2.0          broken clouds  11.331714        2
2012-10-02 08:00:00         2.0          broken clouds  11.324326        2
2012-10-02 09:00:00         2.0          broken clouds  11.316939        2
2012-10-02 10:00:00         2.0          broken clouds  11.309551        2
2012-10-02 11:00:00         2.0          broken clouds  11.302163        2
2012-10-02 12:00:00         2.0          broken clouds  11.294775        2
2012-10-02 13:00:00         2.0          broken clouds  11.287388        2
2012-10-02 14:00:00         2.0             light rain  11.280000        0
2012-10-02 15:00:00         2.0  proximity shower rain  12.160000        0
2012-10-02 16:00:00         0.0           sky is clear  13.300000        3
2012-10-02 17:00:00         0.0           sky is clear  14.690000        3
2012-10-02 18:00:00         4.0       scattered clouds  16.030000        3
...                         ...                    ...        ...      ...
2017-11-28 19:00:00         3.0                   haze   4.870000        2
2017-11-28 20:00:00         2.0           sky is clear   5.400000        3
2017-11-28 21:00:00         1.0       scattered clouds   6.490000        3
2017-11-28 22:00:00         3.0           sky is clear   7.000000        3
2017-11-28 23:00:00         3.0           sky is clear   3.930000        3
2017-11-29 00:00:00         1.0                   haze   5.890000        2
2017-11-29 01:00:00         1.0           sky is clear   3.110000        3
2017-11-29 02:00:00         2.0           sky is clear   1.110000        3
2017-11-29 03:00:00         2.0           sky is clear   0.560000        3
2017-11-29 04:00:00         1.0           sky is clear   0.450000        3
2017-11-29 05:00:00         1.0           sky is clear   0.440000        3
2017-11-29 06:00:00         2.0           sky is clear   0.100000        3
2017-11-29 07:00:00         2.0           sky is clear  -0.090000        3
2017-11-29 08:00:00         1.0                   mist  -0.280000        0
2017-11-29 09:00:00         1.0           sky is clear  -0.390000        3
2017-11-29 10:00:00         1.0           sky is clear  -1.190000        3
2017-11-29 11:00:00         2.0           sky is clear  -1.590000        3
2017-11-29 12:00:00         2.0           sky is clear  -1.590000        3
2017-11-29 13:00:00         2.0           sky is clear  -1.090000        3
2017-11-29 14:00:00         7.0          broken clouds   0.220000        2
2017-11-29 15:00:00         2.0          broken clouds   0.620000        2
2017-11-29 16:00:00         2.0           sky is clear   1.920000        3
2017-11-29 17:00:00         1.0           sky is clear   3.610000        3
2017-11-29 18:00:00         3.0           sky is clear  10.010000        3
2017-11-29 19:00:00         4.0           sky is clear  13.570000        3
2017-11-29 20:00:00         3.0          broken clouds  16.410000        2
2017-11-29 21:00:00         6.0           sky is clear  17.550000        3
2017-11-29 22:00:00         3.0           sky is clear  16.560000        3
2017-11-29 23:00:00         1.0                   haze  16.020000        2
2017-11-30 00:00:00         3.0           sky is clear  12.030000        3

                    TempRate
datetime
2012-10-01 13:00:00        2
2012-10-01 14:00:00        2
2012-10-01 15:00:00        2
2012-10-01 16:00:00        2
2012-10-01 17:00:00        2
2012-10-01 18:00:00        2
2012-10-01 19:00:00        2
2012-10-01 20:00:00        2
2012-10-01 21:00:00        2
2012-10-01 22:00:00        2
2012-10-01 23:00:00        2
2012-10-02 00:00:00        2
2012-10-02 01:00:00        2
2012-10-02 02:00:00        2
2012-10-02 03:00:00        2
2012-10-02 04:00:00        2
2012-10-02 05:00:00        2
2012-10-02 06:00:00        2
2012-10-02 07:00:00        2
2012-10-02 08:00:00        2
2012-10-02 09:00:00        2
2012-10-02 10:00:00        2
2012-10-02 11:00:00        2
2012-10-02 12:00:00        2
2012-10-02 13:00:00        2
2012-10-02 14:00:00        2
2012-10-02 15:00:00        2
2012-10-02 16:00:00        2
2012-10-02 17:00:00        2
2012-10-02 18:00:00        2
...                      ...
2017-11-28 19:00:00        0
2017-11-28 20:00:00        0
2017-11-28 21:00:00        0
2017-11-28 22:00:00        0
2017-11-28 23:00:00        0
2017-11-29 00:00:00        0
2017-11-29 01:00:00        0
2017-11-29 02:00:00        0
2017-11-29 03:00:00        0
2017-11-29 04:00:00        0
2017-11-29 05:00:00        0
2017-11-29 06:00:00        0
2017-11-29 07:00:00        0
2017-11-29 08:00:00        0
2017-11-29 09:00:00        0
2017-11-29 10:00:00        0
2017-11-29 11:00:00        0
2017-11-29 12:00:00        0
2017-11-29 13:00:00        0
2017-11-29 14:00:00        0
2017-11-29 15:00:00        0
2017-11-29 16:00:00        0
2017-11-29 17:00:00        0
2017-11-29 18:00:00        2
2017-11-29 19:00:00        2
2017-11-29 20:00:00        2
2017-11-29 21:00:00        2
2017-11-29 22:00:00        2
2017-11-29 23:00:00        2
2017-11-30 00:00:00        2

[45252 rows x 5 columns]

In [319]:
denWea.head()

                     Wind Speed    Description    Celcius DescRate TempRate
datetime
2012-10-01 13:00:00         4.0     light rain  11.460000        0        2
2012-10-01 14:00:00         4.0  broken clouds  11.457306        2        2
2012-10-01 15:00:00         3.0  broken clouds  11.449918        2        2
2012-10-01 16:00:00         3.0  broken clouds  11.442530        2        2
2012-10-01 17:00:00         3.0  broken clouds  11.435142        2        2

In [320]:
denWea['Wind Speed'].mean()

2.4389958232967226

In [321]:
conditions = [
    (denWea['Wind Speed'] <= 3),
    (denWea['Wind Speed'] > 3) | (denWea['Wind Speed'] < 6) ]
choices = ['3', '2']
denWea['WindRate'] = np.select(conditions, choices, default='0')
print(denWea)

                     Wind Speed            Description    Celcius DescRate  \
datetime
2012-10-01 13:00:00         4.0             light rain  11.460000        0
2012-10-01 14:00:00         4.0          broken clouds  11.457306        2
2012-10-01 15:00:00         3.0          broken clouds  11.449918        2
2012-10-01 16:00:00         3.0          broken clouds  11.442530        2
2012-10-01 17:00:00         3.0          broken clouds  11.435142        2
2012-10-01 18:00:00         3.0          broken clouds  11.427755        2
2012-10-01 19:00:00         3.0          broken clouds  11.420367        2
2012-10-01 20:00:00         3.0          broken clouds  11.412979        2
2012-10-01 21:00:00         3.0          broken clouds  11.405591        2
2012-10-01 22:00:00         3.0          broken clouds  11.398204        2
2012-10-01 23:00:00         3.0          broken clouds  11.390816        2
2012-10-02 00:00:00         3.0          broken clouds  11.383428        2
2012-10-02 01:00:00         3.0          broken clouds  11.376040        2
2012-10-02 02:00:00         3.0          broken clouds  11.368653        2
2012-10-02 03:00:00         3.0          broken clouds  11.361265        2
2012-10-02 04:00:00         2.0          broken clouds  11.353877        2
2012-10-02 05:00:00         2.0          broken clouds  11.346490        2
2012-10-02 06:00:00         2.0          broken clouds  11.339102        2
2012-10-02 07:00:00         2.0          broken clouds  11.331714        2
2012-10-02 08:00:00         2.0          broken clouds  11.324326        2
2012-10-02 09:00:00         2.0          broken clouds  11.316939        2
2012-10-02 10:00:00         2.0          broken clouds  11.309551        2
2012-10-02 11:00:00         2.0          broken clouds  11.302163        2
2012-10-02 12:00:00         2.0          broken clouds  11.294775        2
2012-10-02 13:00:00         2.0          broken clouds  11.287388        2
2012-10-02 14:00:00         2.0             light rain  11.280000        0
2012-10-02 15:00:00         2.0  proximity shower rain  12.160000        0
2012-10-02 16:00:00         0.0           sky is clear  13.300000        3
2012-10-02 17:00:00         0.0           sky is clear  14.690000        3
2012-10-02 18:00:00         4.0       scattered clouds  16.030000        3
...                         ...                    ...        ...      ...
2017-11-28 19:00:00         3.0                   haze   4.870000        2
2017-11-28 20:00:00         2.0           sky is clear   5.400000        3
2017-11-28 21:00:00         1.0       scattered clouds   6.490000        3
2017-11-28 22:00:00         3.0           sky is clear   7.000000        3
2017-11-28 23:00:00         3.0           sky is clear   3.930000        3
2017-11-29 00:00:00         1.0                   haze   5.890000        2
2017-11-29 01:00:00         1.0           sky is clear   3.110000        3
2017-11-29 02:00:00         2.0           sky is clear   1.110000        3
2017-11-29 03:00:00         2.0           sky is clear   0.560000        3
2017-11-29 04:00:00         1.0           sky is clear   0.450000        3
2017-11-29 05:00:00         1.0           sky is clear   0.440000        3
2017-11-29 06:00:00         2.0           sky is clear   0.100000        3
2017-11-29 07:00:00         2.0           sky is clear  -0.090000        3
2017-11-29 08:00:00         1.0                   mist  -0.280000        0
2017-11-29 09:00:00         1.0           sky is clear  -0.390000        3
2017-11-29 10:00:00         1.0           sky is clear  -1.190000        3
2017-11-29 11:00:00         2.0           sky is clear  -1.590000        3
2017-11-29 12:00:00         2.0           sky is clear  -1.590000        3
2017-11-29 13:00:00         2.0           sky is clear  -1.090000        3
2017-11-29 14:00:00         7.0          broken clouds   0.220000        2
2017-11-29 15:00:00         2.0          broken clouds   0.620000        2
2017-11-29 16:00:00         2.0           sky is clear   1.920000        3
2017-11-29 17:00:00         1.0           sky is clear   3.610000        3
2017-11-29 18:00:00         3.0           sky is clear  10.010000        3
2017-11-29 19:00:00         4.0           sky is clear  13.570000        3
2017-11-29 20:00:00         3.0          broken clouds  16.410000        2
2017-11-29 21:00:00         6.0           sky is clear  17.550000        3
2017-11-29 22:00:00         3.0           sky is clear  16.560000        3
2017-11-29 23:00:00         1.0                   haze  16.020000        2
2017-11-30 00:00:00         3.0           sky is clear  12.030000        3

                    TempRate WindRate
datetime
2012-10-01 13:00:00        2        2
2012-10-01 14:00:00        2        2
2012-10-01 15:00:00        2        3
2012-10-01 16:00:00        2        3
2012-10-01 17:00:00        2        3
2012-10-01 18:00:00        2        3
2012-10-01 19:00:00        2        3
2012-10-01 20:00:00        2        3
2012-10-01 21:00:00        2        3
2012-10-01 22:00:00        2        3
2012-10-01 23:00:00        2        3
2012-10-02 00:00:00        2        3
2012-10-02 01:00:00        2        3
2012-10-02 02:00:00        2        3
2012-10-02 03:00:00        2        3
2012-10-02 04:00:00        2        3
2012-10-02 05:00:00        2        3
2012-10-02 06:00:00        2        3
2012-10-02 07:00:00        2        3
2012-10-02 08:00:00        2        3
2012-10-02 09:00:00        2        3
2012-10-02 10:00:00        2        3
2012-10-02 11:00:00        2        3
2012-10-02 12:00:00        2        3
2012-10-02 13:00:00        2        3
2012-10-02 14:00:00        2        3
2012-10-02 15:00:00        2        3
2012-10-02 16:00:00        2        3
2012-10-02 17:00:00        2        3
2012-10-02 18:00:00        2        2
...                      ...      ...
2017-11-28 19:00:00        0        3
2017-11-28 20:00:00        0        3
2017-11-28 21:00:00        0        3
2017-11-28 22:00:00        0        3
2017-11-28 23:00:00        0        3
2017-11-29 00:00:00        0        3
2017-11-29 01:00:00        0        3
2017-11-29 02:00:00        0        3
2017-11-29 03:00:00        0        3
2017-11-29 04:00:00        0        3
2017-11-29 05:00:00        0        3
2017-11-29 06:00:00        0        3
2017-11-29 07:00:00        0        3
2017-11-29 08:00:00        0        3
2017-11-29 09:00:00        0        3
2017-11-29 10:00:00        0        3
2017-11-29 11:00:00        0        3
2017-11-29 12:00:00        0        3
2017-11-29 13:00:00        0        3
2017-11-29 14:00:00        0        2
2017-11-29 15:00:00        0        3
2017-11-29 16:00:00        0        3
2017-11-29 17:00:00        0        3
2017-11-29 18:00:00        2        3
2017-11-29 19:00:00        2        2
2017-11-29 20:00:00        2        3
2017-11-29 21:00:00        2        2
2017-11-29 22:00:00        2        3
2017-11-29 23:00:00        2        3
2017-11-30 00:00:00        2        3

[45252 rows x 6 columns]

In [322]:
denWea.head()

,Wind Speed,Description,Celcius,DescRate,TempRate,WindRate
datetime,,,,,,
2012-10-01 13:00:00,4.0,light rain,11.460000,0,2,2
2012-10-01 14:00:00,4.0,broken clouds,11.457306,2,2,2
2012-10-01 15:00:00,3.0,broken clouds,11.449918,2,2,3
2012-10-01 16:00:00,3.0,broken clouds,11.442530,2,2,3
2012-10-01 17:00:00,3.0,broken clouds,11.435142,2,2,3

In [323]:
denWea.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 45252 entries, 2012-10-01 13:00:00 to 2017-11-30 00:00:00
Freq: H
Data columns (total 6 columns):
Wind Speed     45251 non-null float64
Description    45252 non-null object
Celcius        45252 non-null float64
DescRate       45252 non-null object
TempRate       45252 non-null object
WindRate       45252 non-null object
dtypes: float64(2), object(4)
memory usage: 3.7+ MB

In [324]:
denWea['DescRate'] = denWea['DescRate'].astype(int)

In [325]:
denWea['TempRate'] = denWea['TempRate'].astype(int)

In [326]:
denWea['WindRate'] = denWea['WindRate'].astype(int)

In [327]:
denWea.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 45252 entries, 2012-10-01 13:00:00 to 2017-11-30 00:00:00
Freq: H
Data columns (total 6 columns):
Wind Speed     45251 non-null float64
Description    45252 non-null object
Celcius        45252 non-null float64
DescRate       45252 non-null int32
TempRate       45252 non-null int32
WindRate       45252 non-null int32
dtypes: float64(2), int32(3), object(1)
memory usage: 3.1+ MB

In [328]:
denWea['Overall'] = denWea["DescRate"] + denWea["TempRate"] + denWea["WindRate"]

In [329]:
denWea.head()

,Wind Speed,Description,Celcius,DescRate,TempRate,WindRate,Overall
datetime,,,,,,,
2012-10-01 13:00:00,4.0,light rain,11.460000,0,2,2,4
2012-10-01 14:00:00,4.0,broken clouds,11.457306,2,2,2,6
2012-10-01 15:00:00,3.0,broken clouds,11.449918,2,2,3,7
2012-10-01 16:00:00,3.0,broken clouds,11.442530,2,2,3,7
2012-10-01 17:00:00,3.0,broken clouds,11.435142,2,2,3,7

In [330]:
conditions = [
    (denWea['Overall'] >= 8), 
    (denWea['Overall'] >= 6) & (denWea['Overall'] < 8) ]
choices = ['Good', 'Moderate']
denWea['Weather'] = np.select(conditions, choices, default='Bad')

In [331]:
denWea.tail(50)

,Wind Speed,Description,Celcius,DescRate,TempRate,WindRate,Overall,Weather
datetime,,,,,,,,
2017-11-27 23:00:00,2.0,sky is clear,22.34,3,3,3,9,Good
2017-11-28 00:00:00,5.0,sky is clear,19.67,3,3,2,8,Good
2017-11-28 01:00:00,6.0,sky is clear,17.32,3,2,2,7,Moderate
2017-11-28 02:00:00,6.0,sky is clear,15.88,3,2,2,7,Moderate
2017-11-28 03:00:00,2.0,sky is clear,14.11,3,2,3,8,Good
2017-11-28 04:00:00,1.0,sky is clear,11.57,3,2,3,8,Good
2017-11-28 05:00:00,4.0,sky is clear,10.44,3,2,2,7,Moderate
2017-11-28 06:00:00,2.0,sky is clear,9.45,3,2,3,8,Good
2017-11-28 07:00:00,8.0,sky is clear,5.90,3,0,2,5,Bad
2017-11-28 08:00:00,3.0,overcast clouds,4.44,2,0,3,5,Bad
2017-11-28 09:00:00,2.0,overcast clouds,3.21,2,0,3,5,Bad
2017-11-28 10:00:00,3.0,overcast clouds,2.87,2,0,3,5,Bad
2017-11-28 11:00:00,1.0,haze,1.99,2,0,3,5,Bad
2017-11-28 12:00:00,1.0,haze,1.65,2,0,3,5,Bad
2017-11-28 13:00:00,2.0,moderate rain,1.66,0,0,3,3,Bad
2017-11-28 14:00:00,2.0,haze,1.77,2,0,3,5,Bad
2017-11-28 15:00:00,2.0,haze,1.54,2,0,3,5,Bad
2017-11-28 16:00:00,1.0,haze,2.44,2,0,3,5,Bad
2017-11-28 17:00:00,1.0,haze,2.99,2,0,3,5,Bad
2017-11-28 18:00:00,1.0,haze,3.88,2,0,3,5,Bad
2017-11-28 19:00:00,3.0,haze,4.87,2,0,3,5,Bad
2017-11-28 20:00:00,2.0,sky is clear,5.40,3,0,3,6,Moderate
2017-11-28 21:00:00,1.0,scattered clouds,6.49,3,0,3,6,Moderate
2017-11-28 22:00:00,3.0,sky is clear,7.00,3,0,3,6,Moderate
2017-11-28 23:00:00,3.0,sky is clear,3.93,3,0,3,6,Moderate
2017-11-29 00:00:00,1.0,haze,5.89,2,0,3,5,Bad
2017-11-29 01:00:00,1.0,sky is clear,3.11,3,0,3,6,Moderate
2017-11-29 02:00:00,2.0,sky is clear,1.11,3,0,3,6,Moderate
2017-11-29 03:00:00,2.0,sky is clear,0.56,3,0,3,6,Moderate
2017-11-29 04:00:00,1.0,sky is clear,0.45,3,0,3,6,Moderate
2017-11-29 05:00:00,1.0,sky is clear,0.44,3,0,3,6,Moderate
2017-11-29 06:00:00,2.0,sky is clear,0.10,3,0,3,6,Moderate
2017-11-29 07:00:00,2.0,sky is clear,-0.09,3,0,3,6,Moderate
2017-11-29 08:00:00,1.0,mist,-0.28,0,0,3,3,Bad
2017-11-29 09:00:00,1.0,sky is clear,-0.39,3,0,3,6,Moderate
2017-11-29 10:00:00,1.0,sky is clear,-1.19,3,0,3,6,Moderate
2017-11-29 11:00:00,2.0,sky is clear,-1.59,3,0,3,6,Moderate
2017-11-29 12:00:00,2.0,sky is clear,-1.59,3,0,3,6,Moderate
2017-11-29 13:00:00,2.0,sky is clear,-1.09,3,0,3,6,Moderate
2017-11-29 14:00:00,7.0,broken clouds,0.22,2,0,2,4,Bad
2017-11-29 15:00:00,2.0,broken clouds,0.62,2,0,3,5,Bad
2017-11-29 16:00:00,2.0,sky is clear,1.92,3,0,3,6,Moderate
2017-11-29 17:00:00,1.0,sky is clear,3.61,3,0,3,6,Moderate
2017-11-29 18:00:00,3.0,sky is clear,10.01,3,2,3,8,Good
2017-11-29 19:00:00,4.0,sky is clear,13.57,3,2,2,7,Moderate
2017-11-29 20:00:00,3.0,broken clouds,16.41,2,2,3,7,Moderate
2017-11-29 21:00:00,6.0,sky is clear,17.55,3,2,2,7,Moderate
2017-11-29 22:00:00,3.0,sky is clear,16.56,3,2,3,8,Good
2017-11-29 23:00:00,1.0,haze,16.02,2,2,3,7,Moderate
2017-11-30 00:00:00,3.0,sky is clear,12.03,3,2,3,8,Good

In [332]:
denWea.to_csv('../../data/prep/700_denWea.csv')