# Preparing Minnesota Weather Dataset

### Loading in the data

In [167]:
import os.path
import datetime
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [168]:
if not os.path.exists( "../../data/raw/temperature.csv" ):
    print("Missing dataset file")

In [169]:
temp = pd.read_csv( "../../data/raw/temperature.csv", index_col="datetime", parse_dates=True)

In [170]:
temp.head()

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
datetime,,,,,,,,,,,,,,,,,,,,,
2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,309.100000,NaN,NaN,NaN
2012-10-01 13:00:00,284.630000,282.080000,289.480000,281.800000,291.870000,291.530000,293.410000,296.600000,285.120000,284.610000,...,285.630000,288.220000,285.830000,287.170000,307.590000,305.470000,310.580000,304.4,304.4,303.5
2012-10-01 14:00:00,284.629041,282.083252,289.474993,281.797217,291.868186,291.533501,293.403141,296.608509,285.154558,284.607306,...,285.663208,288.247676,285.834650,287.186092,307.590000,304.310000,310.495769,304.4,304.4,303.5
2012-10-01 15:00:00,284.626998,282.091866,289.460618,281.789833,291.862844,291.543355,293.392177,296.631487,285.233952,284.599918,...,285.756824,288.326940,285.847790,287.231672,307.391513,304.281841,310.411538,304.4,304.4,303.5
2012-10-01 16:00:00,284.624955,282.100481,289.446243,281.782449,291.857503,291.553209,293.381213,296.654466,285.313345,284.592530,...,285.850440,288.406203,285.860929,287.277251,307.145200,304.238015,310.327308,304.4,304.4,303.5

### Minneapolis

Minnesota is in Minneapolis

In [171]:
min1 = temp.filter(items=['Minneapolis'])

In [172]:
min1.head()

                     Minneapolis
datetime
2012-10-01 12:00:00          NaN
2012-10-01 13:00:00   286.870000
2012-10-01 14:00:00   286.893636
2012-10-01 15:00:00   286.951401
2012-10-01 16:00:00   287.009166

In [173]:
min1 = min1.rename(columns={'Minneapolis': 'Temperature'})

In [174]:
min1.head()

                     Temperature
datetime
2012-10-01 12:00:00          NaN
2012-10-01 13:00:00   286.870000
2012-10-01 14:00:00   286.893636
2012-10-01 15:00:00   286.951401
2012-10-01 16:00:00   287.009166

In [175]:
if not os.path.exists( "../../data/raw/wind_speed.csv" ):
    print("Missing dataset file")

In [176]:
temp1 = pd.read_csv( "../../data/raw/wind_speed.csv", index_col="datetime", parse_dates=True)

In [177]:
temp1.head()

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
datetime,,,,,,,,,,,,,,,,,,,,,
2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN
2012-10-01 13:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,4.0,...,4.0,7.0,4.0,3.0,1.0,0.0,8.0,2.0,2.0,2.0
2012-10-01 14:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,4.0,...,4.0,7.0,4.0,3.0,3.0,0.0,8.0,2.0,2.0,2.0
2012-10-01 15:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,3.0,...,3.0,7.0,4.0,3.0,3.0,0.0,8.0,2.0,2.0,2.0
2012-10-01 16:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,3.0,...,3.0,7.0,4.0,3.0,3.0,0.0,8.0,2.0,2.0,2.0

In [178]:
min2 = temp1.filter(items=['Minneapolis'])

In [179]:
min2.head()

                     Minneapolis
datetime
2012-10-01 12:00:00          NaN
2012-10-01 13:00:00          3.0
2012-10-01 14:00:00          3.0
2012-10-01 15:00:00          3.0
2012-10-01 16:00:00          3.0

In [180]:
min2 = min2.rename(columns={'Minneapolis': 'Wind Speed'})

In [181]:
min2.head()

                     Wind Speed
datetime
2012-10-01 12:00:00         NaN
2012-10-01 13:00:00         3.0
2012-10-01 14:00:00         3.0
2012-10-01 15:00:00         3.0
2012-10-01 16:00:00         3.0

In [182]:
if not os.path.exists( "../../data/raw/weather_description.csv" ):
    print("Missing dataset file")

In [183]:
temp2 = pd.read_csv( "../../data/raw/weather_description.csv", index_col="datetime", parse_dates=True)

In [184]:
temp2.head()

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
datetime,,,,,,,,,,,,,,,,,,,,,
2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,haze,NaN,NaN,NaN
2012-10-01 13:00:00,mist,scattered clouds,light rain,sky is clear,mist,sky is clear,sky is clear,sky is clear,sky is clear,light rain,...,broken clouds,few clouds,overcast clouds,sky is clear,sky is clear,sky is clear,haze,sky is clear,sky is clear,sky is clear
2012-10-01 14:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,broken clouds,...,broken clouds,few clouds,sky is clear,few clouds,sky is clear,sky is clear,broken clouds,overcast clouds,sky is clear,overcast clouds
2012-10-01 15:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,broken clouds,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
2012-10-01 16:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,broken clouds,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds

In [185]:
min3 = temp2.filter(items=['Minneapolis'])

In [186]:
min3.head()

                       Minneapolis
datetime
2012-10-01 12:00:00            NaN
2012-10-01 13:00:00  broken clouds
2012-10-01 14:00:00  broken clouds
2012-10-01 15:00:00  broken clouds
2012-10-01 16:00:00  broken clouds

In [187]:
min3 = min3.rename(columns={'Minneapolis': 'Description'})

In [188]:
min3.head()

                       Description
datetime
2012-10-01 12:00:00            NaN
2012-10-01 13:00:00  broken clouds
2012-10-01 14:00:00  broken clouds
2012-10-01 15:00:00  broken clouds
2012-10-01 16:00:00  broken clouds

In [189]:
frames = [min1, min2, min3]
df = pd.concat(frames, axis = 1)

In [190]:
df.head()

                     Temperature  Wind Speed    Description
datetime
2012-10-01 12:00:00          NaN         NaN            NaN
2012-10-01 13:00:00   286.870000         3.0  broken clouds
2012-10-01 14:00:00   286.893636         3.0  broken clouds
2012-10-01 15:00:00   286.951401         3.0  broken clouds
2012-10-01 16:00:00   287.009166         3.0  broken clouds

In [191]:
df.isnull().sum()

Temperature    13
Wind Speed      3
Description     1
dtype: int64

In [192]:
print(df[df["Description"].isnull()])

                     Temperature  Wind Speed Description
datetime
2012-10-01 12:00:00          NaN         NaN         NaN

In [193]:
df = df.dropna(subset = ['Description'])

In [194]:
print(df[df["Temperature"].isnull()])

                     Temperature  Wind Speed   Description
datetime
2013-03-11 07:00:00          NaN         1.0    light snow
2013-03-11 08:00:00          NaN         3.0    light snow
2014-01-31 09:00:00          NaN         0.0  sky is clear
2014-01-31 10:00:00          NaN         0.0  sky is clear
2014-01-31 11:00:00          NaN         0.0  sky is clear
2014-01-31 12:00:00          NaN         0.0  sky is clear
2014-02-02 09:00:00          NaN         0.0  sky is clear
2014-02-02 10:00:00          NaN         0.0  sky is clear
2014-02-02 11:00:00          NaN         0.0  sky is clear
2014-02-02 12:00:00          NaN         0.0  sky is clear
2014-02-02 13:00:00          NaN         0.0  sky is clear
2014-02-02 14:00:00          NaN         0.0  sky is clear

In [195]:
testdate = df.loc['2013-03-11':'2013-03-11']

In [196]:
testdate

                     Temperature  Wind Speed              Description
datetime
2013-03-11 00:00:00     275.3600         2.0            moderate rain
2013-03-11 01:00:00     275.1700         1.0          overcast clouds
2013-03-11 02:00:00     274.9800         0.0  light intensity drizzle
2013-03-11 03:00:00     274.8300         0.0  light intensity drizzle
2013-03-11 04:00:00     274.6700         1.0               light rain
2013-03-11 05:00:00     274.7400         0.0            moderate rain
2013-03-11 06:00:00     274.5900         2.0  light intensity drizzle
2013-03-11 07:00:00          NaN         1.0               light snow
2013-03-11 08:00:00          NaN         3.0               light snow
2013-03-11 09:00:00     274.3800         5.0  light intensity drizzle
2013-03-11 10:00:00     274.1600         6.0          overcast clouds
2013-03-11 11:00:00     274.1600         7.0          overcast clouds
2013-03-11 12:00:00     274.2400         5.0          overcast clouds
2013-03-11 13:00:00     271.2760         5.0               light snow
2013-03-11 14:00:00     274.1600         6.0                     mist
2013-03-11 15:00:00     274.2200         7.0               heavy snow
2013-03-11 16:00:00     271.9855         6.0               light snow
2013-03-11 17:00:00     274.2400         7.0          overcast clouds
2013-03-11 18:00:00     274.2050         6.0          overcast clouds
2013-03-11 19:00:00     274.1700         6.0          overcast clouds
2013-03-11 20:00:00     273.8100         6.0          overcast clouds
2013-03-11 21:00:00     273.7700         7.0          overcast clouds
2013-03-11 22:00:00     273.5300         6.0          overcast clouds
2013-03-11 23:00:00     273.2900         6.0          overcast clouds

Find the average between 280.690 and 278.850. This is equal to 279.770.

In [197]:
df['Temperature'] = df['Temperature'].fillna(279.770)

In [198]:
print(df[df["Temperature"].isnull()])

Empty DataFrame
Columns: [Temperature, Wind Speed, Description]
Index: []

We want to convert the temperature to degrees Celcius from kelvin. The formula to do this is T(Â°C)=T(K)-273.15, Therefore, we create a new column called 'Celcius' and use this formula.

In [199]:
df["Celcius"] = df["Temperature"] - 273.15

In [200]:
df.head()

                     Temperature  Wind Speed    Description    Celcius
datetime
2012-10-01 13:00:00   286.870000         3.0  broken clouds  13.720000
2012-10-01 14:00:00   286.893636         3.0  broken clouds  13.743636
2012-10-01 15:00:00   286.951401         3.0  broken clouds  13.801401
2012-10-01 16:00:00   287.009166         3.0  broken clouds  13.859166
2012-10-01 17:00:00   287.066931         3.0  broken clouds  13.916931

In [201]:
df = df.drop(df.columns[[0]], axis=1)

### Weather Grading System

In [202]:
minWea = df

In [203]:
minWea.head()

                     Wind Speed    Description    Celcius
datetime
2012-10-01 13:00:00         3.0  broken clouds  13.720000
2012-10-01 14:00:00         3.0  broken clouds  13.743636
2012-10-01 15:00:00         3.0  broken clouds  13.801401
2012-10-01 16:00:00         3.0  broken clouds  13.859166
2012-10-01 17:00:00         3.0  broken clouds  13.916931

In [204]:
pt = minWea.groupby('Description')[('Celcius')].count()
pt.sort_values(ascending = False)

Description
sky is clear                           14292
broken clouds                           5526
overcast clouds                         5326
scattered clouds                        4153
light rain                              3324
mist                                    2911
few clouds                              2733
light snow                              1766
moderate rain                           1441
haze                                     675
light intensity drizzle                  627
fog                                      477
drizzle                                  420
heavy intensity rain                     353
snow                                     330
heavy snow                               315
proximity thunderstorm                   295
thunderstorm                              56
proximity shower rain                     46
heavy intensity drizzle                   37
proximity thunderstorm with rain          34
very heavy rain                           26
thunderstorm with heavy rain              26
thunderstorm with light rain              20
thunderstorm with rain                    14
proximity thunderstorm with drizzle        8
light intensity shower rain                5
thunderstorm with light drizzle            5
light shower snow                          4
squalls                                    4
light rain and snow                        1
shower snow                                1
smoke                                      1
Name: Celcius, dtype: int64

In [205]:
conditions = [
    (minWea['Description'] == 'sky is clear') | (minWea['Description'] == 'few clouds'),
    (minWea['Description'] == 'overcast clouds') | (minWea['Description'] == 'broken clouds') 
    | (minWea['Description'] == 'scattered clouds') | (minWea['Description'] == 'fog') | (minWea['Description'] == 'haze')]
choices = ['3', '2']
minWea['DescRate'] = np.select(conditions, choices, default='0')
print(minWea)

                     Wind Speed       Description    Celcius DescRate
datetime
2012-10-01 13:00:00         3.0     broken clouds  13.720000        2
2012-10-01 14:00:00         3.0     broken clouds  13.743636        2
2012-10-01 15:00:00         3.0     broken clouds  13.801401        2
2012-10-01 16:00:00         3.0     broken clouds  13.859166        2
2012-10-01 17:00:00         3.0     broken clouds  13.916931        2
2012-10-01 18:00:00         3.0     broken clouds  13.974696        2
2012-10-01 19:00:00         3.0     broken clouds  14.032462        2
2012-10-01 20:00:00         3.0     broken clouds  14.090227        2
2012-10-01 21:00:00         3.0     broken clouds  14.147992        2
2012-10-01 22:00:00         3.0     broken clouds  14.205757        2
2012-10-01 23:00:00         3.0     broken clouds  14.263522        2
2012-10-02 00:00:00         4.0     broken clouds  14.321287        2
2012-10-02 01:00:00         4.0     broken clouds  14.379053        2
2012-10-02 02:00:00         4.0     broken clouds  14.436818        2
2012-10-02 03:00:00         4.0     broken clouds  14.494583        2
2012-10-02 04:00:00         4.0     broken clouds  14.552348        2
2012-10-02 05:00:00         4.0     broken clouds  14.610113        2
2012-10-02 06:00:00         4.0     broken clouds  14.667879        2
2012-10-02 07:00:00         4.0  scattered clouds  14.725644        2
2012-10-02 08:00:00         4.0  scattered clouds  14.783409        2
2012-10-02 09:00:00         4.0  scattered clouds  14.841174        2
2012-10-02 10:00:00         4.0  scattered clouds  14.898939        2
2012-10-02 11:00:00         4.0  scattered clouds  14.956704        2
2012-10-02 12:00:00         4.0  scattered clouds  15.014470        2
2012-10-02 13:00:00         4.0  scattered clouds  15.072235        2
2012-10-02 14:00:00         4.0  scattered clouds  15.130000        2
2012-10-02 15:00:00         5.0     broken clouds  16.210000        2
2012-10-02 16:00:00         4.0   overcast clouds  16.430000        2
2012-10-02 17:00:00         5.0   overcast clouds  16.980000        2
2012-10-02 18:00:00         7.0     broken clouds  17.990000        2
...                         ...               ...        ...      ...
2017-11-28 19:00:00         8.0      sky is clear  10.570000        3
2017-11-28 20:00:00        12.0        few clouds  11.140000        3
2017-11-28 21:00:00         8.0      sky is clear  10.200000        3
2017-11-28 22:00:00         7.0      sky is clear   9.270000        3
2017-11-28 23:00:00         7.0      sky is clear   8.880000        3
2017-11-29 00:00:00         5.0      sky is clear   6.400000        3
2017-11-29 01:00:00         5.0      sky is clear   5.330000        3
2017-11-29 02:00:00         7.0      sky is clear   4.530000        3
2017-11-29 03:00:00         3.0      sky is clear   3.430000        3
2017-11-29 04:00:00         3.0      sky is clear   2.270000        3
2017-11-29 05:00:00         5.0      sky is clear   1.400000        3
2017-11-29 06:00:00         3.0      sky is clear   0.470000        3
2017-11-29 07:00:00         2.0      sky is clear  -0.600000        3
2017-11-29 08:00:00         2.0      sky is clear  -1.600000        3
2017-11-29 09:00:00         1.0      sky is clear  -2.220000        3
2017-11-29 10:00:00         1.0      sky is clear  -4.270000        3
2017-11-29 11:00:00         1.0      sky is clear  -5.000000        3
2017-11-29 12:00:00         1.0      sky is clear  -5.360000        3
2017-11-29 13:00:00         1.0      sky is clear  -5.210000        3
2017-11-29 14:00:00         1.0  scattered clouds  -5.360000        2
2017-11-29 15:00:00         3.0  scattered clouds  -3.440000        2
2017-11-29 16:00:00         4.0  scattered clouds  -0.470000        2
2017-11-29 17:00:00         4.0     broken clouds   1.400000        2
2017-11-29 18:00:00         5.0     broken clouds   3.400000        2
2017-11-29 19:00:00         4.0      sky is clear   5.000000        3
2017-11-29 20:00:00         8.0  scattered clouds   6.640000        2
2017-11-29 21:00:00         7.0     broken clouds   7.070000        2
2017-11-29 22:00:00         7.0     broken clouds   6.770000        2
2017-11-29 23:00:00         5.0     broken clouds   5.920000        2
2017-11-30 00:00:00         4.0      sky is clear   4.930000        3

[45252 rows x 4 columns]

In [206]:
minWea['Celcius'].mean()

7.550242672246877

In [207]:
conditions = [
    (minWea['Celcius'] <= 7),
    (minWea['Celcius'] >= 15)]
choices = ['0', '3']
minWea['TempRate'] = np.select(conditions, choices, default='2')
print(minWea)

                     Wind Speed       Description    Celcius DescRate TempRate
datetime
2012-10-01 13:00:00         3.0     broken clouds  13.720000        2        2
2012-10-01 14:00:00         3.0     broken clouds  13.743636        2        2
2012-10-01 15:00:00         3.0     broken clouds  13.801401        2        2
2012-10-01 16:00:00         3.0     broken clouds  13.859166        2        2
2012-10-01 17:00:00         3.0     broken clouds  13.916931        2        2
2012-10-01 18:00:00         3.0     broken clouds  13.974696        2        2
2012-10-01 19:00:00         3.0     broken clouds  14.032462        2        2
2012-10-01 20:00:00         3.0     broken clouds  14.090227        2        2
2012-10-01 21:00:00         3.0     broken clouds  14.147992        2        2
2012-10-01 22:00:00         3.0     broken clouds  14.205757        2        2
2012-10-01 23:00:00         3.0     broken clouds  14.263522        2        2
2012-10-02 00:00:00         4.0     broken clouds  14.321287        2        2
2012-10-02 01:00:00         4.0     broken clouds  14.379053        2        2
2012-10-02 02:00:00         4.0     broken clouds  14.436818        2        2
2012-10-02 03:00:00         4.0     broken clouds  14.494583        2        2
2012-10-02 04:00:00         4.0     broken clouds  14.552348        2        2
2012-10-02 05:00:00         4.0     broken clouds  14.610113        2        2
2012-10-02 06:00:00         4.0     broken clouds  14.667879        2        2
2012-10-02 07:00:00         4.0  scattered clouds  14.725644        2        2
2012-10-02 08:00:00         4.0  scattered clouds  14.783409        2        2
2012-10-02 09:00:00         4.0  scattered clouds  14.841174        2        2
2012-10-02 10:00:00         4.0  scattered clouds  14.898939        2        2
2012-10-02 11:00:00         4.0  scattered clouds  14.956704        2        2
2012-10-02 12:00:00         4.0  scattered clouds  15.014470        2        3
2012-10-02 13:00:00         4.0  scattered clouds  15.072235        2        3
2012-10-02 14:00:00         4.0  scattered clouds  15.130000        2        3
2012-10-02 15:00:00         5.0     broken clouds  16.210000        2        3
2012-10-02 16:00:00         4.0   overcast clouds  16.430000        2        3
2012-10-02 17:00:00         5.0   overcast clouds  16.980000        2        3
2012-10-02 18:00:00         7.0     broken clouds  17.990000        2        3
...                         ...               ...        ...      ...      ...
2017-11-28 19:00:00         8.0      sky is clear  10.570000        3        2
2017-11-28 20:00:00        12.0        few clouds  11.140000        3        2
2017-11-28 21:00:00         8.0      sky is clear  10.200000        3        2
2017-11-28 22:00:00         7.0      sky is clear   9.270000        3        2
2017-11-28 23:00:00         7.0      sky is clear   8.880000        3        2
2017-11-29 00:00:00         5.0      sky is clear   6.400000        3        0
2017-11-29 01:00:00         5.0      sky is clear   5.330000        3        0
2017-11-29 02:00:00         7.0      sky is clear   4.530000        3        0
2017-11-29 03:00:00         3.0      sky is clear   3.430000        3        0
2017-11-29 04:00:00         3.0      sky is clear   2.270000        3        0
2017-11-29 05:00:00         5.0      sky is clear   1.400000        3        0
2017-11-29 06:00:00         3.0      sky is clear   0.470000        3        0
2017-11-29 07:00:00         2.0      sky is clear  -0.600000        3        0
2017-11-29 08:00:00         2.0      sky is clear  -1.600000        3        0
2017-11-29 09:00:00         1.0      sky is clear  -2.220000        3        0
2017-11-29 10:00:00         1.0      sky is clear  -4.270000        3        0
2017-11-29 11:00:00         1.0      sky is clear  -5.000000        3        0
2017-11-29 12:00:00         1.0      sky is clear  -5.360000        3        0
2017-11-29 13:00:00         1.0      sky is clear  -5.210000        3        0
2017-11-29 14:00:00         1.0  scattered clouds  -5.360000        2        0
2017-11-29 15:00:00         3.0  scattered clouds  -3.440000        2        0
2017-11-29 16:00:00         4.0  scattered clouds  -0.470000        2        0
2017-11-29 17:00:00         4.0     broken clouds   1.400000        2        0
2017-11-29 18:00:00         5.0     broken clouds   3.400000        2        0
2017-11-29 19:00:00         4.0      sky is clear   5.000000        3        0
2017-11-29 20:00:00         8.0  scattered clouds   6.640000        2        0
2017-11-29 21:00:00         7.0     broken clouds   7.070000        2        2
2017-11-29 22:00:00         7.0     broken clouds   6.770000        2        0
2017-11-29 23:00:00         5.0     broken clouds   5.920000        2        0
2017-11-30 00:00:00         4.0      sky is clear   4.930000        3        0

[45252 rows x 5 columns]

In [208]:
minWea.head()

                     Wind Speed    Description    Celcius DescRate TempRate
datetime
2012-10-01 13:00:00         3.0  broken clouds  13.720000        2        2
2012-10-01 14:00:00         3.0  broken clouds  13.743636        2        2
2012-10-01 15:00:00         3.0  broken clouds  13.801401        2        2
2012-10-01 16:00:00         3.0  broken clouds  13.859166        2        2
2012-10-01 17:00:00         3.0  broken clouds  13.916931        2        2

In [209]:
minWea['Wind Speed'].mean()

3.382232044198895

In [210]:
conditions = [
    (minWea['Wind Speed'] <= 3),
    (minWea['Wind Speed'] > 3) | (minWea['Wind Speed'] < 6) ]
choices = ['3', '2']
minWea['WindRate'] = np.select(conditions, choices, default='1')
print(minWea)

                     Wind Speed       Description    Celcius DescRate  \
datetime
2012-10-01 13:00:00         3.0     broken clouds  13.720000        2
2012-10-01 14:00:00         3.0     broken clouds  13.743636        2
2012-10-01 15:00:00         3.0     broken clouds  13.801401        2
2012-10-01 16:00:00         3.0     broken clouds  13.859166        2
2012-10-01 17:00:00         3.0     broken clouds  13.916931        2
2012-10-01 18:00:00         3.0     broken clouds  13.974696        2
2012-10-01 19:00:00         3.0     broken clouds  14.032462        2
2012-10-01 20:00:00         3.0     broken clouds  14.090227        2
2012-10-01 21:00:00         3.0     broken clouds  14.147992        2
2012-10-01 22:00:00         3.0     broken clouds  14.205757        2
2012-10-01 23:00:00         3.0     broken clouds  14.263522        2
2012-10-02 00:00:00         4.0     broken clouds  14.321287        2
2012-10-02 01:00:00         4.0     broken clouds  14.379053        2
2012-10-02 02:00:00         4.0     broken clouds  14.436818        2
2012-10-02 03:00:00         4.0     broken clouds  14.494583        2
2012-10-02 04:00:00         4.0     broken clouds  14.552348        2
2012-10-02 05:00:00         4.0     broken clouds  14.610113        2
2012-10-02 06:00:00         4.0     broken clouds  14.667879        2
2012-10-02 07:00:00         4.0  scattered clouds  14.725644        2
2012-10-02 08:00:00         4.0  scattered clouds  14.783409        2
2012-10-02 09:00:00         4.0  scattered clouds  14.841174        2
2012-10-02 10:00:00         4.0  scattered clouds  14.898939        2
2012-10-02 11:00:00         4.0  scattered clouds  14.956704        2
2012-10-02 12:00:00         4.0  scattered clouds  15.014470        2
2012-10-02 13:00:00         4.0  scattered clouds  15.072235        2
2012-10-02 14:00:00         4.0  scattered clouds  15.130000        2
2012-10-02 15:00:00         5.0     broken clouds  16.210000        2
2012-10-02 16:00:00         4.0   overcast clouds  16.430000        2
2012-10-02 17:00:00         5.0   overcast clouds  16.980000        2
2012-10-02 18:00:00         7.0     broken clouds  17.990000        2
...                         ...               ...        ...      ...
2017-11-28 19:00:00         8.0      sky is clear  10.570000        3
2017-11-28 20:00:00        12.0        few clouds  11.140000        3
2017-11-28 21:00:00         8.0      sky is clear  10.200000        3
2017-11-28 22:00:00         7.0      sky is clear   9.270000        3
2017-11-28 23:00:00         7.0      sky is clear   8.880000        3
2017-11-29 00:00:00         5.0      sky is clear   6.400000        3
2017-11-29 01:00:00         5.0      sky is clear   5.330000        3
2017-11-29 02:00:00         7.0      sky is clear   4.530000        3
2017-11-29 03:00:00         3.0      sky is clear   3.430000        3
2017-11-29 04:00:00         3.0      sky is clear   2.270000        3
2017-11-29 05:00:00         5.0      sky is clear   1.400000        3
2017-11-29 06:00:00         3.0      sky is clear   0.470000        3
2017-11-29 07:00:00         2.0      sky is clear  -0.600000        3
2017-11-29 08:00:00         2.0      sky is clear  -1.600000        3
2017-11-29 09:00:00         1.0      sky is clear  -2.220000        3
2017-11-29 10:00:00         1.0      sky is clear  -4.270000        3
2017-11-29 11:00:00         1.0      sky is clear  -5.000000        3
2017-11-29 12:00:00         1.0      sky is clear  -5.360000        3
2017-11-29 13:00:00         1.0      sky is clear  -5.210000        3
2017-11-29 14:00:00         1.0  scattered clouds  -5.360000        2
2017-11-29 15:00:00         3.0  scattered clouds  -3.440000        2
2017-11-29 16:00:00         4.0  scattered clouds  -0.470000        2
2017-11-29 17:00:00         4.0     broken clouds   1.400000        2
2017-11-29 18:00:00         5.0     broken clouds   3.400000        2
2017-11-29 19:00:00         4.0      sky is clear   5.000000        3
2017-11-29 20:00:00         8.0  scattered clouds   6.640000        2
2017-11-29 21:00:00         7.0     broken clouds   7.070000        2
2017-11-29 22:00:00         7.0     broken clouds   6.770000        2
2017-11-29 23:00:00         5.0     broken clouds   5.920000        2
2017-11-30 00:00:00         4.0      sky is clear   4.930000        3

                    TempRate WindRate
datetime
2012-10-01 13:00:00        2        3
2012-10-01 14:00:00        2        3
2012-10-01 15:00:00        2        3
2012-10-01 16:00:00        2        3
2012-10-01 17:00:00        2        3
2012-10-01 18:00:00        2        3
2012-10-01 19:00:00        2        3
2012-10-01 20:00:00        2        3
2012-10-01 21:00:00        2        3
2012-10-01 22:00:00        2        3
2012-10-01 23:00:00        2        3
2012-10-02 00:00:00        2        2
2012-10-02 01:00:00        2        2
2012-10-02 02:00:00        2        2
2012-10-02 03:00:00        2        2
2012-10-02 04:00:00        2        2
2012-10-02 05:00:00        2        2
2012-10-02 06:00:00        2        2
2012-10-02 07:00:00        2        2
2012-10-02 08:00:00        2        2
2012-10-02 09:00:00        2        2
2012-10-02 10:00:00        2        2
2012-10-02 11:00:00        2        2
2012-10-02 12:00:00        3        2
2012-10-02 13:00:00        3        2
2012-10-02 14:00:00        3        2
2012-10-02 15:00:00        3        2
2012-10-02 16:00:00        3        2
2012-10-02 17:00:00        3        2
2012-10-02 18:00:00        3        2
...                      ...      ...
2017-11-28 19:00:00        2        2
2017-11-28 20:00:00        2        2
2017-11-28 21:00:00        2        2
2017-11-28 22:00:00        2        2
2017-11-28 23:00:00        2        2
2017-11-29 00:00:00        0        2
2017-11-29 01:00:00        0        2
2017-11-29 02:00:00        0        2
2017-11-29 03:00:00        0        3
2017-11-29 04:00:00        0        3
2017-11-29 05:00:00        0        2
2017-11-29 06:00:00        0        3
2017-11-29 07:00:00        0        3
2017-11-29 08:00:00        0        3
2017-11-29 09:00:00        0        3
2017-11-29 10:00:00        0        3
2017-11-29 11:00:00        0        3
2017-11-29 12:00:00        0        3
2017-11-29 13:00:00        0        3
2017-11-29 14:00:00        0        3
2017-11-29 15:00:00        0        3
2017-11-29 16:00:00        0        2
2017-11-29 17:00:00        0        2
2017-11-29 18:00:00        0        2
2017-11-29 19:00:00        0        2
2017-11-29 20:00:00        0        2
2017-11-29 21:00:00        2        2
2017-11-29 22:00:00        0        2
2017-11-29 23:00:00        0        2
2017-11-30 00:00:00        0        2

[45252 rows x 6 columns]

In [211]:
minWea.head()

,Wind Speed,Description,Celcius,DescRate,TempRate,WindRate
datetime,,,,,,
2012-10-01 13:00:00,3.0,broken clouds,13.720000,2,2,3
2012-10-01 14:00:00,3.0,broken clouds,13.743636,2,2,3
2012-10-01 15:00:00,3.0,broken clouds,13.801401,2,2,3
2012-10-01 16:00:00,3.0,broken clouds,13.859166,2,2,3
2012-10-01 17:00:00,3.0,broken clouds,13.916931,2,2,3

In [212]:
minWea.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 45252 entries, 2012-10-01 13:00:00 to 2017-11-30 00:00:00
Freq: H
Data columns (total 6 columns):
Wind Speed     45250 non-null float64
Description    45252 non-null object
Celcius        45252 non-null float64
DescRate       45252 non-null object
TempRate       45252 non-null object
WindRate       45252 non-null object
dtypes: float64(2), object(4)
memory usage: 3.7+ MB

In [213]:
minWea['DescRate'] = minWea['DescRate'].astype(int)

In [214]:
minWea['TempRate'] = minWea['TempRate'].astype(int)

In [215]:
minWea['WindRate'] = minWea['WindRate'].astype(int)

In [216]:
minWea.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 45252 entries, 2012-10-01 13:00:00 to 2017-11-30 00:00:00
Freq: H
Data columns (total 6 columns):
Wind Speed     45250 non-null float64
Description    45252 non-null object
Celcius        45252 non-null float64
DescRate       45252 non-null int32
TempRate       45252 non-null int32
WindRate       45252 non-null int32
dtypes: float64(2), int32(3), object(1)
memory usage: 3.1+ MB

In [217]:
minWea['Overall'] = minWea["DescRate"] + minWea["TempRate"] + minWea["WindRate"]

In [218]:
minWea.head()

,Wind Speed,Description,Celcius,DescRate,TempRate,WindRate,Overall
datetime,,,,,,,
2012-10-01 13:00:00,3.0,broken clouds,13.720000,2,2,3,7
2012-10-01 14:00:00,3.0,broken clouds,13.743636,2,2,3,7
2012-10-01 15:00:00,3.0,broken clouds,13.801401,2,2,3,7
2012-10-01 16:00:00,3.0,broken clouds,13.859166,2,2,3,7
2012-10-01 17:00:00,3.0,broken clouds,13.916931,2,2,3,7

In [219]:
conditions = [
    (minWea['Overall'] >= 8), 
    (minWea['Overall'] >= 6) & (minWea['Overall'] < 8) ]
choices = ['Good', 'Moderate']
minWea['Weather'] = np.select(conditions, choices, default='Bad')

In [220]:
minWea.head(50)

,Wind Speed,Description,Celcius,DescRate,TempRate,WindRate,Overall,Weather
datetime,,,,,,,,
2012-10-01 13:00:00,3.0,broken clouds,13.720000,2,2,3,7,Moderate
2012-10-01 14:00:00,3.0,broken clouds,13.743636,2,2,3,7,Moderate
2012-10-01 15:00:00,3.0,broken clouds,13.801401,2,2,3,7,Moderate
2012-10-01 16:00:00,3.0,broken clouds,13.859166,2,2,3,7,Moderate
2012-10-01 17:00:00,3.0,broken clouds,13.916931,2,2,3,7,Moderate
2012-10-01 18:00:00,3.0,broken clouds,13.974696,2,2,3,7,Moderate
2012-10-01 19:00:00,3.0,broken clouds,14.032462,2,2,3,7,Moderate
2012-10-01 20:00:00,3.0,broken clouds,14.090227,2,2,3,7,Moderate
2012-10-01 21:00:00,3.0,broken clouds,14.147992,2,2,3,7,Moderate
2012-10-01 22:00:00,3.0,broken clouds,14.205757,2,2,3,7,Moderate
2012-10-01 23:00:00,3.0,broken clouds,14.263522,2,2,3,7,Moderate
2012-10-02 00:00:00,4.0,broken clouds,14.321287,2,2,2,6,Moderate
2012-10-02 01:00:00,4.0,broken clouds,14.379053,2,2,2,6,Moderate
2012-10-02 02:00:00,4.0,broken clouds,14.436818,2,2,2,6,Moderate
2012-10-02 03:00:00,4.0,broken clouds,14.494583,2,2,2,6,Moderate
2012-10-02 04:00:00,4.0,broken clouds,14.552348,2,2,2,6,Moderate
2012-10-02 05:00:00,4.0,broken clouds,14.610113,2,2,2,6,Moderate
2012-10-02 06:00:00,4.0,broken clouds,14.667879,2,2,2,6,Moderate
2012-10-02 07:00:00,4.0,scattered clouds,14.725644,2,2,2,6,Moderate
2012-10-02 08:00:00,4.0,scattered clouds,14.783409,2,2,2,6,Moderate
2012-10-02 09:00:00,4.0,scattered clouds,14.841174,2,2,2,6,Moderate
2012-10-02 10:00:00,4.0,scattered clouds,14.898939,2,2,2,6,Moderate
2012-10-02 11:00:00,4.0,scattered clouds,14.956704,2,2,2,6,Moderate
2012-10-02 12:00:00,4.0,scattered clouds,15.014470,2,3,2,7,Moderate
2012-10-02 13:00:00,4.0,scattered clouds,15.072235,2,3,2,7,Moderate
2012-10-02 14:00:00,4.0,scattered clouds,15.130000,2,3,2,7,Moderate
2012-10-02 15:00:00,5.0,broken clouds,16.210000,2,3,2,7,Moderate
2012-10-02 16:00:00,4.0,overcast clouds,16.430000,2,3,2,7,Moderate
2012-10-02 17:00:00,5.0,overcast clouds,16.980000,2,3,2,7,Moderate
2012-10-02 18:00:00,7.0,broken clouds,17.990000,2,3,2,7,Moderate
2012-10-02 19:00:00,6.0,sky is clear,18.570000,3,3,2,8,Good
2012-10-02 20:00:00,5.0,sky is clear,20.020000,3,3,2,8,Good
2012-10-02 21:00:00,5.0,sky is clear,20.710000,3,3,2,8,Good
2012-10-02 22:00:00,3.0,few clouds,20.990000,3,3,3,9,Good
2012-10-02 23:00:00,5.0,few clouds,19.950000,3,3,2,8,Good
2012-10-03 00:00:00,5.0,few clouds,17.820000,3,3,2,8,Good
2012-10-03 01:00:00,4.0,sky is clear,16.230000,3,3,2,8,Good
2012-10-03 02:00:00,6.0,sky is clear,15.460000,3,3,2,8,Good
2012-10-03 03:00:00,5.0,sky is clear,14.010000,3,2,2,7,Moderate
2012-10-03 04:00:00,5.0,sky is clear,12.300000,3,2,2,7,Moderate
2012-10-03 05:00:00,4.0,sky is clear,11.480000,3,2,2,7,Moderate
2012-10-03 06:00:00,4.0,sky is clear,10.320000,3,2,2,7,Moderate
2012-10-03 07:00:00,4.0,sky is clear,8.030000,3,2,2,7,Moderate
2012-10-03 08:00:00,0.0,sky is clear,7.940000,3,2,3,8,Good
2012-10-03 09:00:00,0.0,sky is clear,6.380000,3,0,3,6,Moderate
2012-10-03 10:00:00,1.0,sky is clear,5.470000,3,0,3,6,Moderate
2012-10-03 11:00:00,0.0,sky is clear,5.080000,3,0,3,6,Moderate
2012-10-03 12:00:00,0.0,sky is clear,5.025000,3,0,3,6,Moderate
2012-10-03 13:00:00,0.0,sky is clear,4.970000,3,0,3,6,Moderate
2012-10-03 14:00:00,0.0,sky is clear,9.330000,3,2,3,8,Good

In [221]:
minWea.to_csv('../../data/prep/300_minWea.csv')