In [3]:
import os
import sys
import hashlib
import pandas as pd
import numpy as np

if not os.path.exists("../../data/raw/Minn_crime.csv"):
    print("Missing dataset file")

In [4]:
crime1 = pd.read_csv("../../data/raw/Minn_crime.csv", index_col='BeginDate', parse_dates = True)

In [5]:
crime1['Description'].unique()

array(['Shoplifting', 'Theft From Motr Vehc', 'Other Theft',
       'Theft From Building', 'Crim Sex Cond-rape', 'Burglary Of Dwelling',
       'Theft From Person', 'Motor Vehicle Theft', 'Robbery Of Business',
       'Aslt-police/emerg P', 'Domestic Assault/Strangulation',
       'Theft-motr Veh Parts', 'Robbery Of Person', 'Asslt W/dngrs Weapon',
       'Robbery Per Agg', 'Burglary Of Business', 'Arson',
       'Theft By Swindle', 'Aslt-great Bodily Hm', 'Aslt-sgnfcnt Bdly Hm',
       'On-line Theft', '2nd Deg Domes Aslt', 'Murder (general)',
       'Adulteration/poison', 'Gas Station Driv-off',
       'Other Vehicle Theft', '3rd Deg Domes Aslt', 'Pocket-picking',
       'Theft/coinop Device', 'Disarm a Police Officer',
       'Theft By Computer', '1st Deg Domes Asslt', 'Bike Theft',
       'Scrapping-Recycling Theft', 'Justifiable Homicide', 'Looting'], dtype=object)

In [6]:
crime1.head()

,publicaddress,controlnbr,CCN,Precinct,ReportedDate,Time,Offense,Description,UCRCode,EnteredDate,Long,Lat,x,y,Neighborhood,lastchanged,LastUpdateDate,OBJECTID,ESRI_OID
BeginDate,,,,,,,,,,,,,,,,,,,
2010-02-22 13:22:00,0029XX Chicago AV S,2001,MP 2010 049740,3,2010-02-22T13:40:00.000Z,13:22:00,SHOPLF,Shoplifting,7,2010-02-22T13:37:48.000Z,-93.263046,44.948990,531143.892490,157587.015062,PHILLIPS WEST,2010-02-22T18:51:39.000Z,2015-09-21T14:16:59.000Z,NaN,NaN
2010-02-21 08:00:00,0049XX Queen AV N,2002,MP 2010 999144,4,2010-02-22T13:38:15.000Z,08:00:00,TFMV,Theft From Motr Vehc,7,2010-02-22T13:38:15.000Z,-93.310883,45.044510,518728.331524,192399.855770,SHINGLE CREEK,2010-02-22T13:38:22.000Z,2015-09-21T14:16:59.000Z,NaN,NaN
2010-02-19 23:20:00,0003XX 16 AV SE,2003,MP 2010 999143,2,2010-02-22T13:40:50.000Z,23:20:00,THEFT,Other Theft,7,2010-02-22T13:40:50.000Z,-93.233833,44.978649,538691.047294,168413.815122,UNIVERSITY OF MINNESOTA,2010-02-23T13:44:28.000Z,2015-09-21T14:16:59.000Z,NaN,NaN
2010-02-20 23:00:00,0016XX University AV SE,2004,MP 2010 049741,2,2010-02-22T14:15:00.000Z,23:00:00,TBLDG,Theft From Building,7,2010-02-22T14:14:52.000Z,-93.233490,44.978512,538777.306959,168365.463674,UNIVERSITY OF MINNESOTA,2010-02-23T05:56:14.000Z,2015-09-21T14:16:59.000Z,NaN,NaN
2010-02-21 16:00:00,00003X 9 ST S,2005,MP 2010 049818,1,2010-02-22T15:00:00.000Z,16:00:00,THEFT,Other Theft,7,2010-02-22T15:02:28.000Z,-93.275513,44.975861,527903.684473,167382.223752,DOWNTOWN WEST,2010-02-23T15:22:47.000Z,2015-09-21T14:16:59.000Z,NaN,NaN

In [7]:
col_list = ['Description', 'Long', 'Lat']

In [8]:
crime = crime1[col_list]

In [9]:
crime.head()

                              Description       Long        Lat
BeginDate
2010-02-22 13:22:00           Shoplifting -93.263046  44.948990
2010-02-21 08:00:00  Theft From Motr Vehc -93.310883  45.044510
2010-02-19 23:20:00           Other Theft -93.233833  44.978649
2010-02-20 23:00:00   Theft From Building -93.233490  44.978512
2010-02-21 16:00:00           Other Theft -93.275513  44.975861

In [10]:
domestic_violence = crime['Description'] == ('Domestic Assault/Strangulation')

In [11]:
domestic_violence.head()

BeginDate
2010-02-22 13:22:00    False
2010-02-21 08:00:00    False
2010-02-19 23:20:00    False
2010-02-20 23:00:00    False
2010-02-21 16:00:00    False
Name: Description, dtype: bool

In [12]:
dm1 = crime[domestic_violence]

In [13]:
dm1.head()

                                        Description       Long        Lat
BeginDate
2010-02-22 18:30:00  Domestic Assault/Strangulation -93.240829  44.967331
2010-02-23 08:50:00  Domestic Assault/Strangulation -93.293968  45.021030
2010-02-24 04:34:00  Domestic Assault/Strangulation -93.292992  45.001080
2010-02-26 20:56:00  Domestic Assault/Strangulation -93.302559  44.991199
2010-02-28 10:30:00  Domestic Assault/Strangulation -93.296341  44.982769

In [14]:
domestic_violence = crime['Description'] == ('3rd Deg Domes Aslt')

In [15]:
dm2 = crime[domestic_violence]

In [16]:
dm2.head()

                            Description       Long        Lat
BeginDate
2010-04-23 00:50:00  3rd Deg Domes Aslt -93.246590  45.015240
2010-05-02 02:10:00  3rd Deg Domes Aslt -93.298576  44.992298
2010-02-17 12:00:00  3rd Deg Domes Aslt -93.267227  44.940788
2010-01-10 16:43:00  3rd Deg Domes Aslt -93.273132  44.938820
2010-01-17 10:45:00  3rd Deg Domes Aslt -93.228073  44.940159

In [17]:
domestic_violence = crime['Description'] == ('2nd Deg Domes Aslt')

In [18]:
dm3 = crime[domestic_violence]

In [19]:
dm3.head()

                            Description       Long        Lat
BeginDate
2010-02-24 21:50:00  2nd Deg Domes Aslt -93.238899  44.963848
2010-02-26 09:00:00  2nd Deg Domes Aslt -93.244926  44.984520
2010-02-26 19:58:00  2nd Deg Domes Aslt -93.298103  44.906078
2010-02-26 22:30:00  2nd Deg Domes Aslt -93.324348  44.945770
2010-03-01 16:03:00  2nd Deg Domes Aslt -93.308662  45.021671

In [20]:
domestic_violence = crime['Description'] == ('1st Deg Domes Asslt')

In [21]:
dm4 = crime[domestic_violence]

In [22]:
dm4.head()

                             Description       Long        Lat
BeginDate
2010-10-08 21:15:00  1st Deg Domes Asslt -93.289703  44.983040
2010-11-01 03:15:00  1st Deg Domes Asslt -93.291229  44.919121
2011-04-20 10:45:00  1st Deg Domes Asslt -93.249168  44.969761
2011-04-01 10:13:00  1st Deg Domes Asslt -93.277908  44.934120
2011-12-12 04:30:00  1st Deg Domes Asslt -93.306129  45.003368

In [23]:
assault = crime['Description'] == 'Aslt-police/emerg P'

In [24]:
as1 = crime[assault]

In [25]:
as1.head()

                             Description       Long        Lat
BeginDate
2010-02-22 20:10:00  Aslt-police/emerg P -93.262123  44.972439
2010-02-23 09:35:00  Aslt-police/emerg P -93.271217  44.940441
2010-02-23 19:10:00  Aslt-police/emerg P -93.277100  44.976780
2010-03-01 07:47:00  Aslt-police/emerg P -93.261307  44.974770
2010-03-02 14:02:00  Aslt-police/emerg P -93.262398  44.972099

In [26]:
assault = crime['Description'] == 'Asslt W/dngrs Weapon'

In [27]:
as2 = crime[assault]

In [28]:
as2.head()

                              Description       Long        Lat
BeginDate
2010-02-23 00:05:00  Asslt W/dngrs Weapon -93.305679  44.999989
2010-02-24 22:56:00  Asslt W/dngrs Weapon -93.300339  44.997162
2010-02-25 10:30:00  Asslt W/dngrs Weapon -93.253693  44.937740
2010-02-22 19:00:00  Asslt W/dngrs Weapon -93.233147  44.946838
2010-02-25 22:10:00  Asslt W/dngrs Weapon -93.306587  45.008770

In [29]:
assault = crime['Description'] == 'Aslt-great Bodily Hm'

In [30]:
as3 = crime[assault]

In [31]:
as3.head()

                              Description       Long        Lat
BeginDate
2010-02-23 12:30:00  Aslt-great Bodily Hm -93.247063  44.969742
2010-05-05 23:05:00  Aslt-great Bodily Hm -93.281853  44.999111
2010-02-14 18:00:00  Aslt-great Bodily Hm -93.245956  44.957512
2010-02-20 12:11:00  Aslt-great Bodily Hm -93.252136  44.943069
2010-01-09 10:45:00  Aslt-great Bodily Hm -93.298187  44.984402

In [32]:
assault = crime['Description'] == 'Aslt-sgnfcnt Bdly Hm'

In [33]:
as4 = crime[assault]

In [34]:
as4.head()

                              Description       Long        Lat
BeginDate
2010-02-23 23:05:00  Aslt-sgnfcnt Bdly Hm -93.273102  44.964310
2010-02-17 11:15:00  Aslt-sgnfcnt Bdly Hm -93.299507  44.981750
2010-02-26 18:48:00  Aslt-sgnfcnt Bdly Hm -93.245956  44.957512
2010-02-17 23:00:00  Aslt-sgnfcnt Bdly Hm -93.281830  44.966789
2010-03-02 05:30:00  Aslt-sgnfcnt Bdly Hm -93.277527  44.936581

In [35]:
domestic_violence = dm1.append(dm2.append(dm3.append(dm4)))

In [36]:
domestic_violence.head

<bound method NDFrame.head of                                         Description       Long        Lat
BeginDate
2010-02-22 18:30:00  Domestic Assault/Strangulation -93.240829  44.967331
2010-02-23 08:50:00  Domestic Assault/Strangulation -93.293968  45.021030
2010-02-24 04:34:00  Domestic Assault/Strangulation -93.292992  45.001080
2010-02-26 20:56:00  Domestic Assault/Strangulation -93.302559  44.991199
2010-02-28 10:30:00  Domestic Assault/Strangulation -93.296341  44.982769
2010-03-01 02:40:00  Domestic Assault/Strangulation -93.262550  44.968880
2010-03-03 18:00:00  Domestic Assault/Strangulation -93.290192  45.020561
2010-03-07 01:34:00  Domestic Assault/Strangulation -93.294998  45.050671
2010-03-08 22:34:00  Domestic Assault/Strangulation -93.294701  45.021370
2010-03-12 00:16:00  Domestic Assault/Strangulation -93.309174  45.018391
2010-03-12 01:55:00  Domestic Assault/Strangulation -93.302628  45.035191
2010-03-12 14:05:00  Domestic Assault/Strangulation -93.284882  44.941132
2010-03-14 14:30:00  Domestic Assault/Strangulation -93.291229  44.919121
2010-03-15 10:28:00  Domestic Assault/Strangulation -93.312447  44.991261
2010-04-23 09:18:00  Domestic Assault/Strangulation -93.308517  45.033390
2010-04-24 00:39:00  Domestic Assault/Strangulation -93.295013  45.001362
2010-04-24 17:15:00  Domestic Assault/Strangulation -93.240280  44.984669
2010-04-25 13:05:00  Domestic Assault/Strangulation -93.290550  45.020321
2010-04-25 23:00:00  Domestic Assault/Strangulation -93.263588  44.965012
2010-04-27 14:20:00  Domestic Assault/Strangulation -93.290192  45.020561
2010-04-27 16:20:00  Domestic Assault/Strangulation -93.267303  44.944530
2010-04-29 18:31:00  Domestic Assault/Strangulation -93.277809  44.965221
2010-04-30 01:13:00  Domestic Assault/Strangulation -93.246933  44.963860
2010-05-07 02:44:00  Domestic Assault/Strangulation -93.292191  45.021671
2010-01-26 14:40:00  Domestic Assault/Strangulation -93.257248  44.998230
2010-01-28 12:00:00  Domestic Assault/Strangulation -93.279083  44.967979
2010-01-31 02:50:00  Domestic Assault/Strangulation -93.312408  45.010101
2010-01-31 16:01:00  Domestic Assault/Strangulation -93.247627  45.008759
2010-02-03 02:43:00  Domestic Assault/Strangulation -93.289818  44.939892
2010-02-03 11:57:00  Domestic Assault/Strangulation -93.302811  45.012859
...                                             ...        ...        ...
2016-01-12 11:30:00              2nd Deg Domes Aslt -93.241142  44.981178
2016-01-13 19:44:00              2nd Deg Domes Aslt -93.304070  45.009102
2016-01-16 16:11:00              2nd Deg Domes Aslt -93.314957  45.015190
2016-01-21 20:04:00              2nd Deg Domes Aslt -93.261749  45.013081
2016-01-24 23:35:00              2nd Deg Domes Aslt -93.236977  45.008781
2016-01-25 01:03:00              2nd Deg Domes Aslt -93.309120  44.998020
2016-01-25 23:01:00              2nd Deg Domes Aslt -93.314957  45.013962
2016-01-26 18:53:00              2nd Deg Domes Aslt -93.247162  44.990341
2016-01-26 23:40:00              2nd Deg Domes Aslt -93.263496  44.966518
2016-01-27 22:12:00              2nd Deg Domes Aslt -93.264793  45.004051
2016-01-29 23:33:00              2nd Deg Domes Aslt -93.245956  44.957512
2016-01-30 03:35:00              2nd Deg Domes Aslt -93.284691  44.938549
2016-01-30 21:04:00              2nd Deg Domes Aslt -93.293427  45.040501
2010-10-08 21:15:00             1st Deg Domes Asslt -93.289703  44.983040
2010-11-01 03:15:00             1st Deg Domes Asslt -93.291229  44.919121
2011-04-20 10:45:00             1st Deg Domes Asslt -93.249168  44.969761
2011-04-01 10:13:00             1st Deg Domes Asslt -93.277908  44.934120
2011-12-12 04:30:00             1st Deg Domes Asslt -93.306129  45.003368
2012-08-12 01:00:00             1st Deg Domes Asslt -93.261452  44.967388
2012-12-02 12:20:00             1st Deg Domes Asslt -93.236771  44.952290
2013-06-12 16:12:00             1st Deg Domes Asslt -93.272453  44.980690
2013-04-09 13:27:00             1st Deg Domes Asslt -93.257248  44.970200
2014-01-25 22:00:00             1st Deg Domes Asslt -93.224731  44.899841
2014-01-27 17:00:00             1st Deg Domes Asslt -93.303978  45.003349
2014-11-04 02:55:00             1st Deg Domes Asslt -93.256668  44.949009
2015-08-15 23:57:00             1st Deg Domes Asslt -93.265602  44.963329
2015-07-11 07:30:00             1st Deg Domes Asslt -93.296097  44.990009
2015-12-01 16:05:00             1st Deg Domes Asslt -93.276199  44.919788
2015-10-09 23:55:00             1st Deg Domes Asslt -93.256279  45.005241
2016-01-01 00:46:00             1st Deg Domes Asslt -93.254967  44.976589

[3537 rows x 3 columns]>

In [37]:
domestic_violence['Description'] = domestic_violence['Description'].apply(lambda x: str("domestic"))

In [38]:
domestic_violence.head()

                    Description       Long        Lat
BeginDate
2010-02-22 18:30:00    domestic -93.240829  44.967331
2010-02-23 08:50:00    domestic -93.293968  45.021030
2010-02-24 04:34:00    domestic -93.292992  45.001080
2010-02-26 20:56:00    domestic -93.302559  44.991199
2010-02-28 10:30:00    domestic -93.296341  44.982769

In [39]:
assault = as1.append(as2.append(as3.append(as4)))

In [40]:
assault.head

<bound method NDFrame.head of                               Description       Long        Lat
BeginDate
2010-02-22 20:10:00   Aslt-police/emerg P -93.262123  44.972439
2010-02-23 09:35:00   Aslt-police/emerg P -93.271217  44.940441
2010-02-23 19:10:00   Aslt-police/emerg P -93.277100  44.976780
2010-03-01 07:47:00   Aslt-police/emerg P -93.261307  44.974770
2010-03-02 14:02:00   Aslt-police/emerg P -93.262398  44.972099
2010-03-12 22:32:00   Aslt-police/emerg P -93.277023  44.978020
2010-03-14 15:37:00   Aslt-police/emerg P -93.276917  44.959381
2010-04-27 21:23:00   Aslt-police/emerg P -93.299171  44.952789
2010-04-30 12:19:00   Aslt-police/emerg P -93.277817  44.962688
2010-05-05 02:35:00   Aslt-police/emerg P -93.234589  44.963661
2010-05-06 22:13:00   Aslt-police/emerg P -93.271591  44.962830
2010-02-01 02:18:00   Aslt-police/emerg P -93.273300  44.981300
2010-02-05 07:54:00   Aslt-police/emerg P -93.304420  45.000130
2010-02-05 11:16:00   Aslt-police/emerg P -93.290466  44.925480
2010-01-03 16:52:00   Aslt-police/emerg P -93.247704  45.014030
2010-01-04 03:13:00   Aslt-police/emerg P -93.297943  45.031960
2010-01-08 10:11:00   Aslt-police/emerg P -93.273712  44.942150
2010-01-08 12:35:00   Aslt-police/emerg P -93.299583  44.982609
2010-01-10 08:30:00   Aslt-police/emerg P -93.236961  44.966282
2010-01-18 02:30:00   Aslt-police/emerg P -93.295929  45.008591
2010-01-18 19:12:00   Aslt-police/emerg P -93.309853  44.994011
2010-05-13 11:40:00   Aslt-police/emerg P -93.299507  44.981750
2010-05-14 02:03:00   Aslt-police/emerg P -93.271667  44.981670
2010-05-16 02:49:00   Aslt-police/emerg P -93.271271  44.948589
2010-05-22 21:11:00   Aslt-police/emerg P -93.224731  44.899841
2010-07-31 00:17:00   Aslt-police/emerg P -93.258080  44.980110
2010-06-27 00:33:00   Aslt-police/emerg P -93.273300  44.981300
2010-06-29 12:59:00   Aslt-police/emerg P -93.298897  44.991119
2010-07-01 22:52:00   Aslt-police/emerg P -93.273270  44.980499
2010-07-03 00:30:00   Aslt-police/emerg P -93.280190  44.948029
...                                   ...        ...        ...
2016-04-16 17:00:00  Aslt-sgnfcnt Bdly Hm -93.314613  45.001610
2016-04-19 12:59:00  Aslt-sgnfcnt Bdly Hm -93.230743  44.987968
2016-05-29 19:34:00  Aslt-sgnfcnt Bdly Hm -93.308647  45.020672
2016-05-29 03:00:00  Aslt-sgnfcnt Bdly Hm -93.299179  45.018848
2016-05-28 21:00:00  Aslt-sgnfcnt Bdly Hm -93.247742  44.934700
2016-06-17 06:00:00  Aslt-sgnfcnt Bdly Hm -93.296127  45.034790
2016-04-21 19:35:00  Aslt-sgnfcnt Bdly Hm -93.271339  44.980450
2016-03-11 21:00:00  Aslt-sgnfcnt Bdly Hm -93.289703  44.954311
2016-04-24 02:00:00  Aslt-sgnfcnt Bdly Hm -93.232727  44.948109
2016-04-24 03:00:00  Aslt-sgnfcnt Bdly Hm -93.287392  45.041531
2016-01-01 01:00:00  Aslt-sgnfcnt Bdly Hm -93.271667  44.981670
2016-01-03 01:40:00  Aslt-sgnfcnt Bdly Hm -93.273857  44.980480
2016-01-09 02:10:00  Aslt-sgnfcnt Bdly Hm -93.272781  44.980141
2016-01-09 14:10:00  Aslt-sgnfcnt Bdly Hm -93.307953  45.023281
2016-05-15 02:35:00  Aslt-sgnfcnt Bdly Hm -93.247559  44.984058
2016-05-20 07:20:00  Aslt-sgnfcnt Bdly Hm -93.249290  44.948650
2016-04-10 02:20:00  Aslt-sgnfcnt Bdly Hm -93.273720  44.980911
2016-04-07 01:00:00  Aslt-sgnfcnt Bdly Hm -93.231789  45.030781
2016-04-13 18:44:00  Aslt-sgnfcnt Bdly Hm -93.277008  44.933990
2016-04-14 13:21:00  Aslt-sgnfcnt Bdly Hm -93.295227  45.018921
2016-04-15 03:14:00  Aslt-sgnfcnt Bdly Hm -93.266800  44.969650
2016-05-05 21:56:00  Aslt-sgnfcnt Bdly Hm -93.274788  44.977982
2016-01-13 14:37:00  Aslt-sgnfcnt Bdly Hm -93.290329  44.994141
2016-01-15 01:20:00  Aslt-sgnfcnt Bdly Hm -93.225807  44.901741
2016-01-17 01:20:00  Aslt-sgnfcnt Bdly Hm -93.271751  44.979408
2016-01-22 15:30:00  Aslt-sgnfcnt Bdly Hm -93.264412  44.979050
2016-01-28 12:30:00  Aslt-sgnfcnt Bdly Hm -93.300682  44.994141
2016-01-28 15:30:00  Aslt-sgnfcnt Bdly Hm -93.303459  45.035439
2016-01-28 22:30:00  Aslt-sgnfcnt Bdly Hm -93.304840  44.988960
2016-01-30 13:39:00  Aslt-sgnfcnt Bdly Hm -93.252449  45.009762

[5847 rows x 3 columns]>

In [41]:
assault['Description'] = assault['Description'].apply(lambda x: str("assault"))

In [42]:
assault.head()

                    Description       Long        Lat
BeginDate
2010-02-22 20:10:00     assault -93.262123  44.972439
2010-02-23 09:35:00     assault -93.271217  44.940441
2010-02-23 19:10:00     assault -93.277100  44.976780
2010-03-01 07:47:00     assault -93.261307  44.974770
2010-03-02 14:02:00     assault -93.262398  44.972099

In [43]:
crime2 = pd.read_csv("../../data/raw/Minn_inc.csv", index_col = "OPENEDDATETIME",
                    parse_dates = True)

In [44]:
crime2["TITLE"] = crime2.TITLE.astype(str)

In [45]:
crime2.dtypes

X                 float64
Y                 float64
CASEID              int64
ENQUIRYTYPEID     float64
SUBJECTNAME        object
REASONNAME         object
TYPENAME           object
TITLE              object
CASESTATUS          int64
CLOSEDDATETIME     object
XCOORD            float64
YCOORD            float64
LastUpdateDate     object
YEAR                int64
dtype: object

In [46]:
crime2.head()

,X,Y,CASEID,ENQUIRYTYPEID,SUBJECTNAME,REASONNAME,TYPENAME,TITLE,CASESTATUS,CLOSEDDATETIME,XCOORD,YCOORD,LastUpdateDate,YEAR
OPENEDDATETIME,,,,,,,,,,,,,,
2011-09-23 08:24:44,-93.242945,44.936831,101000638582,1001.0,Public Safety,Graffiti / Clean City,Graffiti complaint / reporting,Graffiti complaint / reporting,0,2011-09-29T09:13:21.000Z,-1.037976e+07,5.611582e+06,2015-12-03T03:41:24.000Z,2011
2011-09-23 08:32:42,-93.294043,45.045685,101000638583,1002.0,Animal Related,Animal Control,Animal Complaint - Livability,Animal Complaint - Livability,0,2011-09-23T14:18:31.000Z,-1.038545e+07,5.628716e+06,2015-12-03T03:41:24.000Z,2011
2011-09-23 08:41:31,-93.314247,45.003197,101000638586,1003.0,Property,Private Property,Residential Conditions Complaint Tenant,Residential Conditions Complaint Tenant,0,2011-10-03T19:38:55.000Z,-1.038769e+07,5.622025e+06,2015-12-03T03:41:24.000Z,2011
2011-09-23 08:45:04,-93.295711,45.027610,101000638587,1004.0,Animal Related,Animal Control,Animal Complaint - Livability,Animal Complaint - Livability,0,2011-09-24T08:47:00.000Z,-1.038563e+07,5.625869e+06,2015-12-03T03:41:24.000Z,2011
2011-09-23 08:48:25,-93.271696,44.975350,101000638588,1005.0,Vehicles and Commuting,Traffic Control,Parking Violation Complaint,nan,0,2011-09-23T18:20:38.000Z,-1.038296e+07,5.617642e+06,2015-12-03T03:41:24.000Z,2011

In [47]:
col_list = ['X', 'Y', 'TITLE']
crime2 = crime2[col_list]
crime2.head()

,X,Y,TITLE
OPENEDDATETIME,,,
2011-09-23 08:24:44,-93.242945,44.936831,Graffiti complaint / reporting
2011-09-23 08:32:42,-93.294043,45.045685,Animal Complaint - Livability
2011-09-23 08:41:31,-93.314247,45.003197,Residential Conditions Complaint Tenant
2011-09-23 08:45:04,-93.295711,45.027610,Animal Complaint - Livability
2011-09-23 08:48:25,-93.271696,44.975350,nan

In [48]:
crime2 = crime2[['TITLE', 'X', 'Y']]
crime2.head()

,TITLE,X,Y
OPENEDDATETIME,,,
2011-09-23 08:24:44,Graffiti complaint / reporting,-93.242945,44.936831
2011-09-23 08:32:42,Animal Complaint - Livability,-93.294043,45.045685
2011-09-23 08:41:31,Residential Conditions Complaint Tenant,-93.314247,45.003197
2011-09-23 08:45:04,Animal Complaint - Livability,-93.295711,45.027610
2011-09-23 08:48:25,nan,-93.271696,44.975350

In [49]:
crime2.columns = ['Description', 'Long', 'Lat']

In [50]:
crime2.head()

,Description,Long,Lat
OPENEDDATETIME,,,
2011-09-23 08:24:44,Graffiti complaint / reporting,-93.242945,44.936831
2011-09-23 08:32:42,Animal Complaint - Livability,-93.294043,45.045685
2011-09-23 08:41:31,Residential Conditions Complaint Tenant,-93.314247,45.003197
2011-09-23 08:45:04,Animal Complaint - Livability,-93.295711,45.027610
2011-09-23 08:48:25,nan,-93.271696,44.975350

In [51]:
print(crime2['Description'].unique())

['Graffiti complaint / reporting' 'Animal Complaint - Livability'
 'Residential Conditions Complaint Tenant' ...,
 'Sewer Issue: generalcomplaint  District: NORTHEAST'
 'Sewer Issue: grateoff  District: NORTHEAST'
 'Ext:       Vehicle     Other']

In [52]:
def Unwanted(value):
    value = value.strip()
    values = value.split(" ")
    if values is None:
        return false
    elif values[0] == 'Parking':
        return False
    elif values[0] == 'Ext:':
        return False
    elif values[0] == 'Sewer':
        return False
    else:
        return True

In [53]:
crime2["Description"] = crime2.Description.astype(str)

In [54]:
crime2_filter = crime2['Description'].apply(Unwanted)

In [55]:
crime2[crime2_filter].Description.unique()

array(['Graffiti complaint / reporting', 'Animal Complaint - Livability',
       'Residential Conditions Complaint Tenant', 'nan',
       'Traffic Signal Trouble', 'Streets Pothole Repair',
       'Residential Conditions Complaint',
       'Residential Conditions Complaint HOD Tenant',
       'Residential Conditions Complaint HOD',
       'Sidewalk Structural Complaint', 'Animal Complaint - Public Health',
       'Traffic Signal Timing Issue', 'Sidewalk Snow & Ice Complaint',
       'Sidewalk Snow and Ice - SS', 'Streets Snow & Ice Complaint', ' ',
       'Sidewalk Snow', 'Exterior Nuisance Complaint',
       'Res Con HOD: Ext Nuisance', 'Res Con Tenant HOD: Structural',
       'Res Con HOD: Structural', 'Res Con HOD: Ext Nui and Structural',
       'Res Con Tenant HOD: Ext Nui and Structural',
       'Res Con Tenant HOD: Ext Nuisance'], dtype=object)

In [56]:
vandalism = crime['Description'] == 'Arson'

In [57]:
v1 = crime[vandalism]

In [58]:
vandalism = crime2['Description'] == 'Graffiti complaint / reporting'

In [59]:
v2 = crime2[vandalism]

In [60]:
vandalism = v1.append(v2)

In [61]:
vandalism.head()

                    Description       Long        Lat
2010-02-21 05:40:00       Arson -93.231071  44.965431
2010-02-26 23:44:00       Arson -93.276947  44.976639
2010-04-23 19:30:00       Arson -93.279404  44.993641
2010-04-25 01:43:00       Arson -93.288406  45.020470
2010-04-29 19:55:00       Arson -93.305344  45.012241

In [62]:
vandalism['Description'] = vandalism['Description'].apply(lambda x: str ('vandalism'))

In [63]:
vandalism.index.names = ['date']
vandalism.head()

                    Description       Long        Lat
date
2010-02-21 05:40:00   vandalism -93.231071  44.965431
2010-02-26 23:44:00   vandalism -93.276947  44.976639
2010-04-23 19:30:00   vandalism -93.279404  44.993641
2010-04-25 01:43:00   vandalism -93.288406  45.020470
2010-04-29 19:55:00   vandalism -93.305344  45.012241

In [64]:
crime_Minneapolis = domestic_violence.append(assault.append(vandalism))

In [65]:
crime_Minneapolis = crime_Minneapolis.sort_index()
crime_Minneapolis.index.names = ['date']
crime_Minneapolis.head()

                    Description       Long        Lat
date
2010-01-01 01:00:00     assault -93.234390  44.983662
2010-01-01 03:00:00     assault -93.277298  44.971130
2010-01-01 03:00:00     assault -93.231750  44.991131
2010-01-01 06:00:00    domestic -93.273666  44.938850
2010-01-02 04:15:00    domestic -93.306648  44.986340

In [66]:
crime_Minneapolis

                    Description       Long        Lat
date
2010-01-01 01:00:00     assault -93.234390  44.983662
2010-01-01 03:00:00     assault -93.277298  44.971130
2010-01-01 03:00:00     assault -93.231750  44.991131
2010-01-01 06:00:00    domestic -93.273666  44.938850
2010-01-02 04:15:00    domestic -93.306648  44.986340
2010-01-02 09:44:00    domestic -93.282547  44.947048
2010-01-02 19:00:00    domestic -93.287491  44.984482
2010-01-02 21:20:00     assault -93.247307  44.959141
2010-01-02 23:00:00    domestic -93.284363  45.010509
2010-01-03 01:20:00    domestic -93.228828  44.951530
2010-01-03 04:23:00    domestic -93.224533  44.898670
2010-01-03 11:45:00     assault -93.306396  45.005760
2010-01-03 16:52:00     assault -93.247704  45.014030
2010-01-03 20:10:00    domestic -93.247772  45.007679
2010-01-03 23:35:00     assault -93.297379  44.949009
2010-01-03 23:44:00     assault -93.262581  44.941380
2010-01-04 01:48:00     assault -93.273300  44.981300
2010-01-04 03:13:00     assault -93.297943  45.031960
2010-01-04 19:00:00     assault -93.286369  44.978760
2010-01-04 19:15:00     assault -93.262909  44.936852
2010-01-05 13:30:00    domestic -93.246941  44.930710
2010-01-06 15:13:00     assault -93.243591  44.942928
2010-01-06 22:25:00     assault -93.283821  45.004238
2010-01-07 01:20:00     assault -93.308708  45.024269
2010-01-07 12:00:00     assault -93.269798  44.925678
2010-01-07 16:45:00    domestic -93.249611  44.995171
2010-01-08 00:00:00     assault -93.263382  45.005409
2010-01-08 10:11:00     assault -93.273712  44.942150
2010-01-08 11:05:00    domestic -93.273712  44.942150
2010-01-08 12:35:00     assault -93.299583  44.982609
...                         ...        ...        ...
NaT                   vandalism -93.274452  44.975909
NaT                   vandalism -93.275301  44.966281
NaT                   vandalism -93.275301  44.966281
NaT                   vandalism -93.265172  44.944983
NaT                   vandalism -93.275931  44.965596
NaT                   vandalism -93.281568  44.988146
NaT                   vandalism -93.275931  44.965596
NaT                   vandalism -93.275931  44.965596
NaT                   vandalism -93.275931  44.965596
NaT                   vandalism -93.247250  44.970215
NaT                   vandalism -93.208744  44.958128
NaT                   vandalism -93.247016  44.971338
NaT                   vandalism -93.247266  44.967735
NaT                   vandalism -93.246079  44.964638
NaT                   vandalism -93.243104  45.016573
NaT                   vandalism -93.236147  44.965488
NaT                   vandalism -93.261570  45.006352
NaT                   vandalism -93.261570  45.006352
NaT                   vandalism -93.252111  44.947545
NaT                   vandalism -93.283878  44.953553
NaT                   vandalism -93.226094  44.978626
NaT                   vandalism -93.230848  44.979835
NaT                   vandalism -93.262007  45.009493
NaT                   vandalism -93.235735  44.986767
NaT                   vandalism -93.269915  44.948134
NaT                   vandalism -93.254664  44.947972
NaT                   vandalism -93.225572  44.987842
NaT                   vandalism -93.274113  44.948355
NaT                   vandalism -93.293142  44.955549
NaT                   vandalism -93.295686  44.955546

[35597 rows x 3 columns]