In [1]:
import os
import sys
import hashlib
import pandas as pd
import numpy as np

if not os.path.exists( "../../data/raw/Den_crime.csv" ):
    print("Missing dataset file")
    
crime = pd.read_csv("../../data/raw/Den_crime.csv", index_col = "FIRST_OCCURRENCE_DATE",
                    parse_dates = True)

In [2]:
crime.head()

,INCIDENT_ID,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,GEO_X,GEO_Y,GEO_LON,GEO_LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
FIRST_OCCURRENCE_DATE,,,,,,,,,,,,,,,,,,
2016-06-15 23:31:00,2016376978,2016376978521300,5213,0,weapon-unlawful-discharge-of,all-other-crimes,NaN,6/15/2016 11:31:00 PM,NaN,3193983.0,1707251.0,-104.809881,39.773188,5,521,montbello,1,0
2017-10-11 12:30:00,20186000994,20186000994239900,2399,0,theft-other,larceny,10/11/2017 4:55:00 PM,1/29/2018 5:53:00 PM,NaN,3201943.0,1711852.0,-104.781434,39.785649,5,522,gateway-green-valley-ranch,1,0
2016-03-04 20:00:00,20166003953,20166003953230500,2305,0,theft-items-from-vehicle,theft-from-motor-vehicle,4/25/2016 8:00:00 AM,4/26/2016 9:02:00 PM,2932 S JOSEPHINE ST,3152762.0,1667011.0,-104.957381,39.663490,3,314,wellshire,1,0
2018-01-30 19:20:00,201872333,201872333239900,2399,0,theft-other,larceny,NaN,1/30/2018 10:29:00 PM,705 S COLORADO BLVD,3157162.0,1681320.0,-104.941440,39.702698,3,312,belcaro,1,0
2017-06-22 20:53:00,2017411405,2017411405230300,2303,0,theft-shoplift,larceny,NaN,6/23/2017 4:09:00 PM,2810 E 1ST AVE,3153211.0,1686545.0,-104.955370,39.717107,3,311,cherry-creek,1,0

In [3]:
col_list = ['OFFENSE_TYPE_ID', 'GEO_LON', 'GEO_LAT']

In [4]:
crime = crime[col_list]

In [5]:
crime.head()

                                    OFFENSE_TYPE_ID     GEO_LON    GEO_LAT
FIRST_OCCURRENCE_DATE
2016-06-15 23:31:00    weapon-unlawful-discharge-of -104.809881  39.773188
2017-10-11 12:30:00                     theft-other -104.781434  39.785649
2016-03-04 20:00:00        theft-items-from-vehicle -104.957381  39.663490
2018-01-30 19:20:00                     theft-other -104.941440  39.702698
2017-06-22 20:53:00                  theft-shoplift -104.955370  39.717107

In [6]:
crime.columns = ['Description', 'Lon', 'Lat']
crime.index.names = ['date']
crime.head()

                                      Description         Lon        Lat
date
2016-06-15 23:31:00  weapon-unlawful-discharge-of -104.809881  39.773188
2017-10-11 12:30:00                   theft-other -104.781434  39.785649
2016-03-04 20:00:00      theft-items-from-vehicle -104.957381  39.663490
2018-01-30 19:20:00                   theft-other -104.941440  39.702698
2017-06-22 20:53:00                theft-shoplift -104.955370  39.717107

In [7]:
crime['Description'].unique()

array(['weapon-unlawful-discharge-of', 'theft-other',
       'theft-items-from-vehicle', 'theft-shoplift', 'traf-other',
       'theft-parts-from-vehicle', 'criminal-trespassing',
       'traffic-accident-hit-and-run', 'drug-methampetamine-possess',
       'theft-of-motor-vehicle', 'fraud-by-use-of-computer',
       'traffic-accident', 'burglary-business-by-force', 'theft-embezzle',
       'threats-to-injure', 'theft-from-bldg', 'liquor-possession',
       'aggravated-assault', 'criminal-mischief-mtr-veh',
       'kidnap-adult-victim', 'violation-of-restraining-order',
       'criminal-mischief-other', 'assault-simple',
       'harassment-stalking-dv', 'traf-vehicular-assault',
       'vehicular-eluding-no-chase', 'robbery-street',
       'public-order-crimes-other', 'drug-synth-narcotic-possess',
       'burglary-residence-by-force', 'burglary-business-no-force',
       'contraband-into-prison', 'criminal-mischief-graffiti',
       'drug-heroin-possess', 'drug-poss-paraphernalia',
       'burglary-residence-no-force', 'traf-habitual-offender',
       'theft-bicycle', 'weapon-poss-illegal-dangerous',
       'disturbing-the-peace', 'traffic-accident-dui-duid',
       'sex-off-fail-to-register', 'weapon-by-prev-offender-powpo',
       'theft-of-services', 'sex-aslt-non-rape',
       'violation-of-court-order', 'drug-cocaine-possess',
       'drug-heroin-sell', 'drug-fraud-to-obtain', 'assault-police-simple',
       'assault-dv', 'littering', 'aggravated-assault-dv',
       'burglary-vending-machine', 'drug-marijuana-possess',
       'homicide-other', 'sex-aslt-rape', 'drug-hallucinogen-possess',
       'police-false-information', 'police-resisting-arrest',
       'theft-unauth-use-of-ftd', 'sex-aslt-rape-pot',
       'police-interference', 'accessory-conspiracy-to-crime',
       'forgery-other', 'drug-pcs-other-drug', 'menacing-felony-w-weap',
       'weapon-carrying-prohibited', 'indecent-exposure',
       'robbery-residence', 'drug-methampetamine-sell',
       'drug-cocaine-sell', 'animal-cruelty-to', 'bomb-threat',
       'harassment', 'theft-fail-return-rent-veh', 'arson-other',
       'public-fighting', 'kidnap-dv', 'curfew', 'pawn-broker-viol',
       'false-imprisonment', 'theft-of-rental-property',
       'weapon-fire-into-occ-bldg', 'robbery-business',
       'weapon-other-viol', 'sex-aslt-fondle-adult-victim',
       'fraud-nsf-closed-account', 'theft-stln-veh-const-eqpt',
       'public-peace-other', 'robbery-car-jacking', 'forgery-checks',
       'theft-stln-vehicle-trailer', 'drug-marijuana-cultivation',
       'theft-purse-snatch-no-force', 'agg-aslt-police-weapon',
       'harassment-sexual-in-nature', 'burglary-poss-of-tools',
       'fraud-by-telephone', 'fraud-criminal-impersonation',
       'sex-off-registration-viol', 'obscene-material-possess',
       'eavesdropping', 'drug-marijuana-sell', 'vehicular-eluding',
       'harassment-dv', 'probation-violation', 'property-crimes-other',
       'sex-aslt-non-rape-pot', 'prostitution-engaging-in',
       'weapon-carrying-concealed', 'police-disobey-lawful-order',
       'theft-from-mails', 'forgery-poss-of-forged-inst',
       'theft-pick-pocket', 'arson-business', 'escape',
       'burg-auto-theft-resd-no-force', 'arson-residence',
       'reckless-endangerment', 'sex-aslt-w-object',
       'robbery-purse-snatch-w-force', 'wiretapping', 'robbery-bank',
       'illegal-dumping', 'police-obstruct-investigation',
       'sex-aslt-w-object-pot', 'other-enviornment-animal-viol',
       'drug-forgery-to-obtain', 'obstructing-govt-operation',
       'arson-vehicle', 'impersonation-of-police', 'parole-violation',
       'weapon-flourishing', 'burglary-safe', 'contraband-possession',
       'forgery-counterfeit-of-obj', 'weapon-fire-into-occ-veh',
       'drug-synth-narcotic-sell', 'intimidation-of-a-witness',
       'burg-auto-theft-busn-w-force', 'window-peeping',
       'burg-auto-theft-busn-no-force', 'liquor-sell',
       'stolen-property-buy-sell-rec', 'disarming-a-peace-officer',
       'fraud-identity-theft', 'explosive-incendiary-dev-use', 'extortion',
       'drug-opium-or-deriv-possess', 'prostitution-aiding',
       'animal-poss-of-dangerous', 'fireworks-possession',
       'homicide-family', 'prostitution-pimping',
       'police-making-a-false-rpt', 'gambling-gaming-operation',
       'explosive-incendiary-dev-pos', 'gambling-device',
       'theft-gas-drive-off', 'burg-auto-theft-resd-w-force',
       'homicide-police-weapon', 'aslt-agg-police-gun',
       'arson-public-building', 'drug-make-sell-other-drug',
       'homicide-police-by-gun', 'bribery', 'theft-confidence-game',
       'drug-hallucinogen-sell', 'traf-vehicular-homicide',
       'forgery-posses-forge-device', 'failure-to-appear',
       'violation-of-custody-order', 'drug-opium-or-deriv-sell',
       'drug-barbiturate-sell', 'weapon-altering-serial-number',
       'drug-barbiturate-possess', 'gambling-betting-wagering',
       'liquor-misrepresent-age-minor', 'homicide-solicitation',
       'drug-methamphetamine-mfr', 'traf-impound-vehicle', 'escape-aiding',
       'liquor-manufacturing', 'forgery-poss-of-forged-ftd',
       'drug-barbiturate-mfr', 'pub-peace-desecrate-symb', 'loitering',
       'obscene-material-mfr', 'liquor-other-viol', 'theft-from-yards',
       'theft-of-cable-services', 'explosives-posses',
       'drug-hallucinogen-mfr', 'homicide-negligent', 'riot'], dtype=object)

In [8]:
dv1 = crime['Description'] == 'harassment-stalking-dv'
domestic1 = crime[dv1]
domestic1.head()

                                Description         Lon        Lat
date
2018-01-29 03:30:00  harassment-stalking-dv -104.993087  39.717051
2018-02-08 10:30:00  harassment-stalking-dv -104.933594  39.756652
2018-01-30 09:57:00  harassment-stalking-dv -104.996804  39.733143
2018-04-06 18:46:00  harassment-stalking-dv -104.809369  39.784056
2018-02-01 19:30:00  harassment-stalking-dv -104.996256  39.735620

In [9]:
dv2 = crime['Description'] == 'assault-dv' 
domestic2 = crime[dv2]
domestic2.head()

                    Description         Lon        Lat
date
2018-01-31 10:51:00  assault-dv -104.990039  39.745589
2018-01-06 17:00:00  assault-dv -104.823879  39.797018
2018-01-30 21:00:00  assault-dv -105.016183  39.787155
2018-01-21 20:44:00  assault-dv -104.820959  39.774057
2018-01-30 20:30:00  assault-dv -104.893620  39.653673

In [10]:
dv3 = crime['Description'] == 'aggravated-assault-dv'
domestic3 = crime[dv3]
domestic3.head()

                               Description         Lon        Lat
date
2018-01-31 23:56:00  aggravated-assault-dv -104.855863  39.660292
2018-01-31 03:40:00  aggravated-assault-dv -104.924252  39.740876
2018-01-31 15:20:00  aggravated-assault-dv -104.846802  39.797727
2018-03-08 19:00:00  aggravated-assault-dv -104.941155  39.701038
2018-01-01 20:00:00  aggravated-assault-dv -104.742633  39.779457

In [11]:
dv4 = crime['Description'] == 'kidnap-dv'
domestic4 = crime[dv4]
domestic4.head()

                    Description         Lon        Lat
date
2018-01-01 20:00:00   kidnap-dv -104.742633  39.779457
2018-03-17 21:00:00   kidnap-dv -104.983036  39.790563
2018-03-23 16:00:00   kidnap-dv -104.906293  39.701076
2018-03-26 17:00:00   kidnap-dv -104.904921  39.746345
2018-04-12 17:00:00   kidnap-dv -105.062411  39.614797

In [12]:
dv5 = crime['Description'] == 'harassment-dv'
domestic5 = crime[dv5]
domestic5.head()

                       Description         Lon        Lat
date
2018-01-24 23:04:00  harassment-dv -104.805781  39.785597
2018-01-16 17:38:00  harassment-dv -104.797720  39.795331
2018-01-01 09:00:00  harassment-dv -105.041231  39.788652
2018-01-05 16:36:00  harassment-dv -104.877770  39.783062
2018-01-07 01:50:00  harassment-dv -104.967947  39.670777

In [13]:
domestic = domestic1.append(domestic2.append(domestic3.append(domestic4.append(domestic5))))

In [14]:
as1 = crime['Description'] == 'aggravated-assault'
assault1 = crime[as1]
assault1.head()

                            Description         Lon        Lat
date
2017-08-01 20:34:00  aggravated-assault -104.987834  39.741821
2017-10-07 01:47:00  aggravated-assault -105.011207  39.783823
2017-03-14 08:30:00  aggravated-assault -105.004106  39.760435
2018-01-31 18:00:00  aggravated-assault -104.920822  39.762157
2018-01-31 18:38:00  aggravated-assault -105.001558  39.775657

In [15]:
as2 = crime['Description'] == 'assault-simple'
assault2 = crime[as2]
assault2.head()

                        Description         Lon        Lat
date
2017-11-25 18:30:00  assault-simple -104.964369  39.746273
2018-01-25 15:59:00  assault-simple -104.921734  39.753780
2016-06-27 11:45:00  assault-simple -104.968806  39.743631
2018-01-30 11:50:00  assault-simple -105.020592  39.731895
2018-01-29 00:00:00  assault-simple -104.952502  39.738027

In [16]:
as3 = crime['Description'] == 'assault-police-simple'
assault3 = crime[as3]
assault3.head()

                               Description         Lon        Lat
date
2018-01-28 13:30:00  assault-police-simple -104.824755  39.793246
2018-01-31 20:12:00  assault-police-simple -105.020014  39.678181
2018-02-01 00:45:00  assault-police-simple -104.990480  39.728076
2018-03-08 12:22:00  assault-police-simple -104.993574  39.739773
2018-01-31 21:25:00  assault-police-simple -104.897559  39.740158

In [17]:
as4 = crime['Description'] == 'public-fighting'
assault4 = crime[as4]
assault4.head()

                         Description         Lon        Lat
date
2018-03-08 15:20:00  public-fighting -104.760169  39.780620
2018-03-08 07:27:00  public-fighting -104.940563  39.787243
2018-01-13 17:30:00  public-fighting -104.980799  39.739956
2017-10-21 13:29:00  public-fighting -104.983218  39.737944
2018-03-12 08:40:00  public-fighting -104.966502  39.692138

In [18]:
assault = assault1.append(assault2.append(assault3.append(assault4)))

In [19]:
v1 = crime['Description'] == 'criminal-mischief-graffiti'
vandalism1 = crime[v1]
vandalism1.head()

                                    Description         Lon        Lat
date
2018-01-01 16:25:00  criminal-mischief-graffiti -104.968291  39.740180
2018-01-30 23:35:00  criminal-mischief-graffiti -104.942070  39.688678
2018-01-29 16:00:00  criminal-mischief-graffiti -105.027910  39.736646
2018-01-28 14:35:00  criminal-mischief-graffiti -105.022494  39.776878
2018-02-26 10:30:00  criminal-mischief-graffiti -104.966039  39.695474

In [20]:
v2 = crime['Description'] == 'arson-other'
vandalism2 = crime[v2]
vandalism2.head()

                     Description         Lon        Lat
date
2018-03-08 19:41:00  arson-other -104.987485  39.739897
2018-02-17 11:00:00  arson-other -104.907328  39.677837
2017-06-12 11:22:00  arson-other -105.043343  39.741898
2018-01-02 22:00:00  arson-other -104.888539  39.733039
2018-01-08 05:44:00  arson-other -105.038688  39.727819

In [21]:
v3 = crime['Description'] == 'arson-business'
vandalism3 = crime[v3]
vandalism3.head()

                        Description         Lon        Lat
date
2017-12-30 08:47:00  arson-business -104.989093  39.741722
2018-01-05 07:00:00  arson-business -104.987112  39.688729
2018-01-08 01:00:00  arson-business -104.915174  39.773253
2018-03-16 00:00:00  arson-business -104.995333  39.770121
2018-03-21 08:20:00  arson-business -104.993085  39.745860

In [22]:
v4 = crime['Description'] == 'arson-residence'
vandalism4 = crime[v4]
vandalism4.head()

                         Description         Lon        Lat
date
2017-12-30 16:00:00  arson-residence -105.048473  39.739889
2018-04-06 04:00:00  arson-residence -104.837018  39.776751
2018-04-06 07:20:00  arson-residence -104.837018  39.776751
2018-01-26 13:30:00  arson-residence -105.029476  39.748619
2018-02-07 08:23:00  arson-residence -105.024418  39.758196

In [23]:
v5 = crime['Description'] == 'arson-vehicle'
vandalism5 = crime[v5]
vandalism5.head()

                       Description         Lon        Lat
date
2018-01-13 19:36:00  arson-vehicle -104.865793  39.768503
2018-01-07 16:30:00  arson-vehicle -105.027383  39.687671
2018-01-16 17:47:00  arson-vehicle -104.991630  39.679783
2018-03-20 03:00:00  arson-vehicle -105.014800  39.733532
2018-01-11 15:50:00  arson-vehicle -104.994205  39.738065

In [24]:
v6 = crime['Description'] == 'arson-public-building'
vandalism6 = crime[v6]
vandalism6.head()

                               Description         Lon        Lat
date
2018-03-27 07:00:00  arson-public-building -104.986159  39.751005
2013-06-07 07:20:00  arson-public-building -104.983932  39.740453
2014-06-11 10:15:00  arson-public-building -104.965344  39.742401
2014-02-03 12:00:00  arson-public-building -104.827987  39.786489
2014-12-15 11:00:00  arson-public-building -104.827987  39.786489

In [25]:
v7 = crime['Description'] == 'pub-peace-desecrate-symb'
vandalism7 = crime[v7]
vandalism7.head()

                                  Description        Lon        Lat
date
2014-08-02 20:01:00  pub-peace-desecrate-symb -104.90283  39.709234
2014-05-12 09:39:00  pub-peace-desecrate-symb -104.90283  39.709234

In [26]:
vandalism = vandalism1.append(vandalism1.append(vandalism1.append(vandalism1.append(vandalism1.append(vandalism1.append(vandalism7))))))

In [27]:
domestic['Description'] = domestic['Description'].apply(lambda x: str ('domestic'))

In [28]:
assault['Description'] = assault['Description'].apply(lambda x: str ('assault'))

In [29]:
vandalism['Description'] = vandalism['Description'].apply(lambda x: str ('vandalism'))

In [30]:
crime_Denver = domestic.append(assault.append(vandalism))

In [31]:
crime_Denver = crime_Denver.sort_index()
crime_Denver.head()

                    Description         Lon        Lat
date
2013-01-02 00:37:00     assault -104.990480  39.728076
2013-01-02 15:00:00   vandalism -105.023305  39.758126
2013-01-02 15:00:00   vandalism -105.023305  39.758126
2013-01-02 15:00:00   vandalism -105.023305  39.758126
2013-01-02 15:00:00   vandalism -105.023305  39.758126

In [32]:
crime_Denver

                    Description         Lon        Lat
date
2013-01-02 00:37:00     assault -104.990480  39.728076
2013-01-02 15:00:00   vandalism -105.023305  39.758126
2013-01-02 15:00:00   vandalism -105.023305  39.758126
2013-01-02 15:00:00   vandalism -105.023305  39.758126
2013-01-02 15:00:00   vandalism -105.023305  39.758126
2013-01-02 15:00:00   vandalism -105.023305  39.758126
2013-01-02 15:00:00   vandalism -105.023305  39.758126
2013-01-02 19:00:00     assault -104.964542  39.780400
2013-01-02 23:10:00    domestic -104.846172  39.793092
2013-01-03 00:40:00     assault -104.885834  39.738703
2013-01-03 03:00:00    domestic -104.906098  39.759794
2013-01-03 07:30:00     assault -104.988714  39.742503
2013-01-03 10:00:00     assault -105.023774  39.733486
2013-01-03 14:25:00     assault -104.943290  39.757179
2013-01-03 20:50:00     assault -104.989017  39.740909
2013-01-03 22:00:00    domestic -104.890551  39.740155
2013-01-04 01:00:00    domestic -105.026604  39.789909
2013-01-04 02:45:00     assault -104.934929  39.725612
2013-01-04 03:00:00    domestic -104.835448  39.795547
2013-01-04 09:29:00    domestic -104.986891  39.710811
2013-01-04 16:15:00    domestic -104.996606  39.710258
2013-01-04 17:00:00   vandalism -105.028611  39.762419
2013-01-04 17:00:00   vandalism -105.028611  39.762419
2013-01-04 17:00:00   vandalism -105.028611  39.762419
2013-01-04 17:00:00   vandalism -105.028611  39.762419
2013-01-04 17:00:00   vandalism -105.028611  39.762419
2013-01-04 17:00:00   vandalism -105.028611  39.762419
2013-01-04 18:25:00     assault -104.992029  39.735009
2013-01-04 20:00:00   vandalism -105.042171  39.700772
2013-01-04 20:00:00   vandalism -105.042171  39.700772
...                         ...         ...        ...
2018-04-11 22:00:00     assault -104.965755  39.763665
2018-04-11 23:24:00     assault -104.990480  39.728076
2018-04-11 23:50:00     assault -105.024637  39.736863
2018-04-12 01:30:00     assault -104.840412  39.789955
2018-04-12 11:00:00    domestic -104.830408  39.788208
2018-04-12 15:00:00     assault -104.736153  39.780502
2018-04-12 15:39:00     assault -104.930577  39.763330
2018-04-12 15:50:00     assault -104.965646  39.760670
2018-04-12 17:00:00    domestic -105.062411  39.614797
2018-04-12 17:40:00     assault -105.018393  39.731120
2018-04-12 18:02:00     assault -104.972489  39.741333
2018-04-12 18:27:00     assault -104.934029  39.732320
2018-04-12 19:01:00     assault -104.930239  39.756416
2018-04-12 20:06:00     assault -104.881143  39.724658
2018-04-12 20:10:00   vandalism -104.975061  39.757467
2018-04-12 20:10:00   vandalism -104.975061  39.757467
2018-04-12 20:10:00   vandalism -104.975061  39.757467
2018-04-12 20:10:00   vandalism -104.975061  39.757467
2018-04-12 20:10:00   vandalism -104.975061  39.757467
2018-04-12 20:10:00   vandalism -104.975061  39.757467
2018-04-12 21:10:00   vandalism -105.004469  39.769001
2018-04-12 21:10:00   vandalism -105.004469  39.769001
2018-04-12 21:10:00   vandalism -105.004469  39.769001
2018-04-12 21:10:00   vandalism -105.004469  39.769001
2018-04-12 21:10:00   vandalism -105.004469  39.769001
2018-04-12 21:10:00   vandalism -105.004469  39.769001
2018-04-12 21:45:00     assault -104.890682  39.749583
2018-04-12 22:00:00    domestic -104.848459  39.771802
2018-04-12 22:05:00     assault -105.000772  39.769068
2018-04-13 00:42:00     assault -104.975088  39.767611

[49853 rows x 3 columns]

In [33]:
crime_Denver.to_csv('../../data/prep/700_Denver.csv')